include ../top.jade
		script(type="text/javascript", src="/javascripts/community/bun_make.js")
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
					include ../search.jade
		include ../widget/popup_menu.jade
		div#header
			p.menu_name 번개생성
		div.section.section_bunmake(style="padding-top:30px;")
			img.btn_bunmake(src="/images/btn_bunmake.png")
			table	
				td.label_bunmake(valign='top',width='100px') 제목
				td(width='200px')
					span(style='margin-right:20px')
						input.input_form.text1(type='text',style='width:180px;', name='subject')
			table
				input.input_form(type='hidden', name='province')
				input.input_form(type='hidden', name='city')
				td(valign='top',width='100px') 시간
				td(width='200px')
					span(style='margin-right:20px')
						input.input_form.text1(type='number',style='width:40px;', name='event_month')
						&nbsp;월 
					span
						input.input_form.text1(type='number',style='width:40px', name='event_day')
						&nbsp;일
					br
					span(style='margin-right:20px; top:0px')
						input.input_form.text1(type='number',style='width:40px;', name='start_hour')
						&nbsp;시 
					span
						input.input_form.text1(type='number',style='width:40px;', name='start_minute')
						&nbsp;분 부터
					br
					span(style='margin-right:20px')
						input.input_form.text1(type='number',style='width:40px;', name='end_hour')
						&nbsp;시
					span
						&nbsp;
						input.input_form.text1(type='number',style='width:40px;', name='end_minute')
						&nbsp;분 까지						
			table
				td.label_bunmake(valign='top',width='100px') 장소
				td(width='200px')
					span(style='margin-right:20px')
						input.input_form.text1(type='text',style='width:180px;', name='location')
						br
						span(style='float:right; margin-right:20px;')
							네이버 지도에 표시
							input(type='checkbox', style='margin-bottom:0;width:15px; height:15px')
			table
				td(width='100px') 인원
				td(width='200px')
					span(style='margin-right:20px')
						input.input_form.text1(type='number',style='width:80px;', name='population')
						명
			form(id="submit",align='right',action="/community/bun_show",rel="export")
				input.write_button.btn3(type='button',value='작성')
include ../bottom.jade