include ../top.jade
		script(type="text/javascript", src="/javascripts/community/bun_show.js")
		div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
					include ../search.jade
		include ../widget/popup_menu.jade
		div.header_bunshow
			span.city_bunshow(class="output_form",name="province")
			div(style="width:75px; display:inline-block; float:right; margin-right: 5px;")
				input.btn_remove.btn3(id="remove_board",type="button",value="글 삭제",style="width:60px; height:20px; font-size:10pt; margin-right:5px")
				span.output_form(name="index") No. 
		div.section_bunshow
			table.tbl_bunshow(cellspacing='0',align='center')
				tr
					td(style='padding-left:10px; width:100px')
						font.output_form(name="event_month")
						font /
						font.output_form(name="event_day")
					td(rowspan="2",style='padding-left:10px; font-size:20pt;')
						font.output_form(name="population")
						font 명
				tr
					td(style='padding-left:10px; font-size:15pt;')
						font.output_form(name="end_hour")
						font :
						font.output_form(name="end_minute")
						font 까지		
				tr
<<<<<<< HEAD
					td.output_form(name="subject",align="center",colspan="2",style='padding-left:10px; border-bottom:thick solid gray;')
										
			ul.ul_comment
				li.li_comment
				li.li_comment
				li.li_comment
				li.li_comment
				li.li_comment	
=======
					td.output_form(name="subject",align="center",colspan="2",style='padding-left:10px; border-bottom:thick solid gray;') 								
>>>>>>> bce3f467d9e88b44b6f2a1ec23f43456069216b6
			div(id="pre_set",style="display:none;")
				span(id="id",style="padding:0 5px;") 
				input(id="remove_comment",type="button",value="삭제",onclick="remove_item(this)",style="font-size:7pt; float:right; height:20px; margin-right:5px")
			
			div(id="field")
		
		span(style="position:absolute; bottom:160px; width:100%;",align="center")
			input.text1(id="comment_text",type="text")
			input.btn3(id="comment_button",type="submit",value="댓글 작성")
include ../bottom.jade