include ../top.jade
		script(type="text/javascript", src="/javascripts/community/bun_show.js")
		div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
					include ../search.jade
		div(class="header")
			span(class="output_form",name="province",style='padding-left:10px; font-size:35pt') 
			span(style='position:absolute; bottom:5px; right:10px')
				font(style="margin-bottom:0px") No. &nbsp
				font.output_form(name="index",style='margin-bottom:0px')
		div(class="section")
			table(cellspacing='0',align='center'
				,style='background-color:yellow; color:black;border-top:thick solid gray; width:100%;')
				tr
					td(style='padding-left:10px; width:100px')
						font.output_form(name="event_month")
						font /
						font.output_form(name="event_day")
					td(rowspan="2",style='padding-left:10px; font-size:20pt; border-bottom:thin solid gray;')
						font.output_form(name="population")
						font 명
				tr
					td(style='padding-left:10px; font-size:15pt; border-bottom:thin solid gray;')
						font.output_form(name="end_hour")
						font :
						font.output_form(name="end_minute")
						font 까지		
				tr
					td.output_form(name="subject",align="center",colspan="2",style='padding-left:10px; border-bottom:thick solid gray;') 								

			div(id="",style="border-bottom:thin solid gray; margin:15px 20px")
				span(style="padding:0 5px;") yong8
				span >
				span 전 남잔데 괜찮나요?
			
		span(id="",style="position:absolute; bottom:140px; width:100%;",align="center")
			input(id="comment_text",type="text",style="padding:0px; width:60%")
			input(id="comment_button",type="submit",value="댓글 작성",style="padding:5px; font-size:10pt")
include ../bottom.jade