include ../top.jade
		script(type="text/javascript", src="/javascripts/community/bun_show.js")
		div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
					include ../search.jade
		div(class="header")
			span(name="province",style='padding-left:10px; font-size:35pt') 
			span(style='position:absolute; bottom:5px; right:10px')
				font(style="margin-bottom:0px") No.
				font(name="index",style='margin-bottom:0px')
		div(class="section")
			table(cellspacing='0',align='center'
				,style='background-color:yellow; color:black;border-top:thick solid gray; width:100%;')
				tr
					td(name="event_day",style='padding-left:10px; width:100px')
					td(name="population",rowspan="2",style='padding-left:10px; font-size:20pt; border-bottom:thin solid gray;')
				tr
					td(name="",style='padding-left:10px; font-size:15pt; border-bottom:thin solid gray;')		
				tr
					td(name="subject",align="center",colspan="2",style='padding-left:10px; border-bottom:thick solid gray;') 								

			div(id="",style="border-bottom:thin solid gray; margin:15px 20px")
				span(style="padding:0 5px;") yong8
				span >
				span 전 남잔데 괜찮나요?
			
			div(id="",style="border-bottom:thin solid gray; margin:15px 20px")
				span(style="padding:0 5px;") lux
				span >
				span 니 미칬나?
			
		form(id="",style="position:absolute; bottom:140px; width:100%;",align="center")
			input(id="",type="text",style="padding:5px; width:60%")
			input(id="",type="submit",value="댓글 작성",style="padding:5px")
include ../bottom.jade