include ../top.jade
			div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
						include ../search.jade
			div(class='container')
				
				div(id="community_1",class="slide current")
					div(class='header')
						span(style='height:20px; padding-left:20px; font-size:45pt') 1
					p
					div.wrapper(id="community_num",style="position:relative; top:0px; left:55px; width:200px; height:0px; padding-bottom:100%; overflow:auto;")
						img(src="/images/map.png", style='position:absolute; width:100%; top:0px; left:0px; z-index:0;')
						a.province(id="kangwondo",href="/community/community#community_2", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:20%; left:55%; z-index:2;') 70
						a.province(id="kyunggido",href="/community/community#community_2", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:30%; left:27%; z-index:2;') 100
						a.province(id="chungcheongdo",href="/community/community#community_2", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:50%; left:35%; z-index:2;') 30
						a.province(id="kyungsangdo",href="/community/community#community_2", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:64%; z-index:2;') 52
						a.province(id="jeollado",href="/community/community#community_2", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:70%; left:25%; z-index:2;') 65
						
				div(id="community_2",class="slide")
					div(class='header')
						span(style='height:20px; padding-left:20px; font-size:45pt; z-index:4') 2
						span(id='selected_area',style='height:20px; margin-right:10px; margin-top:12px; font-size:25pt; float:right')
					p
					div.wrapper(id="kangwondo_map",style="position:relative; top:40px; left:30px; width:250px; height:0px; padding-bottom:100%; overflow:auto;display:none")
						a.province(href="/community/community#community_3", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:50%; left:75%; z-index:2;') 강릉 65
						img(src="/images/map_kangwondo.png", style='position:absolute; width:100%; top:0px; left:0px; z-index:0;')
						
					div.wrapper(id="kyunggido_map",style="position:relative; top:40px; left:60px; width:200px; padding-bottom:100%; overflow:auto; display:none")
						img(src="/images/map_kyunggido.png", style='position:absolute; width:100%; top:0px; left:0px; z-index:0;')
						a.province(href="/community/community#community_3", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:65%; z-index:2;')
					
					div.wrapper(id="chungcheongdo_map",style="position:relative; top:100px; left:20px; width:270px; height:0px; padding-bottom:100%; overflow:auto; display:none")
						img(src="/images/map_chungcheongdo.png", style='position:absolute; width:100%; top:0px; left:0px; z-index:0;')
						a.province(href="/community/community#community_3", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:65%; z-index:2;')
					
					div.wrapper(id="jeollado_map",style="position:relative; top:40px; left:60px; width:200px; height:0px; padding-bottom:100%; overflow:auto; display:none")
						img(src="/images/map_jeollado.png", style='position:absolute; width:100%; top:0px; left:0px; z-index:0;')
						a.province(href="/community/community#community_3", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:65%; z-index:2;')
					
					div.wrapper(id="kyungsangdo_map",style="position:relative; top:0px; left:0px; width:100%; height:0px; padding-bottom:100%; overflow:auto; display:none")
						img(src="/images/map_kyungsangdo.png", style='position:absolute; width:100%; top:0px; left:0px; z-index:0;')
						a.province(href="/community/community#community_3", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:65%; z-index:2;')
						
				div(id="community_3",class="slide",style="height:100%")
					div(class='header')
						span(style='height:20px; padding-left:20px; font-size:45pt') 3
						span(id='selected_city',style='height:20px; margin-right:10px; margin-top:12px; font-size:25pt; float:right') 강릉
					
					div(class="section")
						table(cellspacing='0',align='center',cellpadding='8px',
							,style='border-top:thin solid gray; border-bottom:thin solid gray; width:100%; margin:10px')
								tr
									td(style='padding-left:10px; border-bottom:thick solid gray;',width='40px') 시간
									td(style='padding-left:10px; border-bottom:thick solid gray;',width='60px') 장소 
									td(style='padding-left:10px; border-bottom:thick solid gray;') 무엇을
									td(style='padding-left:10px; border-bottom:thick solid gray;') 인원
include ../bottom.jade