include ../top.jade
			script(src="/javascripts/community/community.js",type="text/javascript")
			div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
						include ../search.jade
			div#container.background_theme
				div#community_1.slide.current.background_theme_gray
					div#header
						span.head_number 1
						span.head_number(style="font-size:15pt") >도선택
						p.menu_name 커뮤니티
					div.wrapper(id="plan_num")
						div.map_wrapper
							img.map(src="/images/map.png")
						span.bungae_cnt(id="kangwondo", style='top:17%; left:55%;') 70
						span.bungae_cnt(id="kyunggido", style='top:27%; left:27%;') 35
						span.bungae_cnt(id="chungcheongdo", style='top:47%; left:35%;') 82
						span.bungae_cnt(id="kyungsangdo", style='top:57%; left:64%;') 23
						span.bungae_cnt(id="jeollado", style='top:67%; left:25%;') 56
						a.province_name(id="kangwondo",name="#community_2",data-effect='slide', style='top:27%; left:55%; color:white;') 강원도
						a.province_name(id="kyunggido",name="#community_2",data-effect='slide', style='top:37%; left:27%; color:white;') 경기도
						a.province_name(id="chungcheongdo",name="#community_2",data-effect='slide', style='top:57%; left:35%; color:white;') 충청도
						a.province_name(id="kyungsangdo",name="#community_2",data-effect='slide', style='top:67%; left:64%; color:white;') 경상도
						a.province_name(id="jeollado",name="#community_2",data-effect='slide', style='top:77%; left:25%; color:white;') 전라도
						
				div#community_2.slide
					div#header
						span.head_number 1
						span.head_number(style="font-size:15pt") >시선택
						p.menu_name
						span#selected_area
					input#back(type="button",name="#community_1", value="back", style="position:absolute; top:70px;z-index:40")
					div.wrapper(id="kangwondo_map")
						div.map_wrapper
							img.map(src="/images/map_kangwondo.png")
							a.province(href="/community/community/pyungchang",rel='external', style='position:absolute; top:67%; left:55%;') 평창
							a.province(href="/community/community/kangneung",rel='external', style='position:absolute; top:47%; left:60%; ') 강릉
						
					div.wrapper(id="kyunggido_map")
						div.map_wrapper
							img.map(src="/images/map_kyunggido.png")
							a.province(href="/community/community/seoul",rel='external', style='position:absolute; top:40%; left:40%;') 서울
					
					div.wrapper(id="chungcheongdo_map")
						div.map_wrapper
							img.map(src="/images/map_chungcheongdo.png", style="width: 90%; margin-top: 15%;")
							a.province(href="/community/community/jecheon",rel='external', style='position:absolute; top:59%; left:22%;') 제천
							a.province(href="/community/community/boryeong",rel='external', style='position:absolute; top:47%; left:60%;') 보령
					
					div.wrapper(id="jeollado_map")
						div.map_wrapper
							img.map(src="/images/map_jeollado.png")
							a.province(href="/community/community/damyang",rel='external', style='position:absolute; top:48%; left:53%;') 담양
							a.province(href="/community/community/boseong",rel='external', style='position:absolute; top:56%; left:53%;') 보성
							a.province(href="/community/community/jeongup",rel='external', style='position:absolute; top:53%; left:58%;') 정읍
							
					div.wrapper(id="kyungsangdo_map", style="display:none;")
						div.map_wrapper
							img.map(src="/images/map_kyungsangdo.png")
							a.province(href="/community/community/jinju",rel='external', style='position:absolute; top:67%; left:38%;') 진주
							a.province(href="/community/community/busan",rel='external', style='position:absolute; top:65%; left:57%;') 부산
							a.province(href="/community/community/gyeongju",rel='external', style='position:absolute; top:74%; left:63%;') 경주
include ../bottom.jade