include ../top.jade
			script(src="/javascripts/community/community.js",type="text/javascript")
			div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
						include ../search.jade
			div#container.background_theme
				div#community_1.slide.current.background_theme_gray
					div#header
						p.menu_name 커뮤니티
					div.wrapper(id="plan_num")
						div.map_wrapper
							img.map(src="/images/map_brush.png")
						a.province(id="kangwondo",name="#community_2", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:20%; left:55%; z-index:2;') 70
						a.province(id="kyunggido",name="#community_2", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:30%; left:27%; z-index:2;') 100
						a.province(id="chungcheongdo",name="#community_2", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:50%; left:35%; z-index:2;') 30
						a.province(id="kyungsangdo",name="#community_2", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:64%; z-index:2;') 52
						a.province(id="jeollado",name="#community_2", rel='external',data-effect='slide', style='position:absolute; width:50px; height: 50px; top:70%; left:25%; z-index:2;') 65
				div(id="community_2",class="slide")
					div(class='header')
						span(style='height:20px; padding-left:20px; font-size:45pt; z-index:4') 2
						span(id='selected_area',style='height:20px; margin-right:10px; margin-top:12px; font-size:25pt; float:right')
					p
					div.wrapper(id="kangwondo_map")
						img.map(src="/images/map_kangwondo.png")
						
					div.wrapper(id="kyunggido_map")
						img.map(src="/images/map_kyunggido.png")
					
					div.wrapper(id="chungcheongdo_map")
						img.map(src="/images/map_chungcheongdo.png")
					
					div.wrapper(id="jeollado_map")
						img.map(src="/images/map_jeollado.png")
						a.province(href="/community/community#community_3", rel='external',data-effect='slide')
					
					div.wrapper(id="kyungsangdo_map")
						img.map(src="/images/map_kyungsangdo.png")
						a.province(href="/community/community#community_3", rel='external',data-effect='slide')
						
				div(id="community_3",class="slide",style="height:100%")
					div(class='header')
						span(style='height:20px; padding-left:20px; font-size:45pt') 3
						span(id='selected_city',style='height:20px; margin-right:10px; margin-top:12px; font-size:25pt; float:right') 강릉
					
					div(class="section")
						table(cellspacing='0',align='center',cellpadding='8px',
							,style='border-top:thin solid gray; border-bottom:thin solid gray; width:100%; margin:10px; bottom:100px')
								tr
									td(style='padding-left:10px; border-bottom:thick solid gray;',width='40px') 시간
									td(style='padding-left:10px; border-bottom:thick solid gray;',width='60px') 장소 
									td(style='padding-left:10px; border-bottom:thick solid gray;') 무엇을
									td(style='padding-left:10px; border-bottom:thick solid gray;') 인원
include ../bottom.jade