include ../top.jade
			script(src="/javascripts/community/community.js",type="text/javascript")
			div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
						include ../search.jade
			include ../city_name.jade
			div#container.background_theme
				div#community_1.slide.current.background_theme_gray
					div#header
						span.head_number 1
						span.head_number(style="font-size:15pt") >도선택
						p.menu_name 커뮤니티
					div.wrapper(id="plan_num")
						div.map_wrapper
							img.map(src="/images/map.png")
						span.bungae_cnt(id="kangwondo", style='top:17%; left:55%;') 70
						span.bungae_cnt(id="kyunggido", style='top:27%; left:27%;') 35
						span.bungae_cnt(id="chungcheongdo", style='top:47%; left:35%;') 82
						span.bungae_cnt(id="kyungsangdo", style='top:57%; left:64%;') 23
						span.bungae_cnt(id="jeollado", style='top:67%; left:25%;') 56
						a.province_name(id="kangwondo",name="#community_2",data-effect='slide', style='top:27%; left:55%; color:white;') 강원도
						a.province_name(id="kyunggido",name="#community_2",data-effect='slide', style='top:37%; left:27%; color:white;') 경기도
						a.province_name(id="chungcheongdo",name="#community_2",data-effect='slide', style='top:57%; left:35%; color:white;') 충청도
						a.province_name(id="kyungsangdo",name="#community_2",data-effect='slide', style='top:67%; left:64%; color:white;') 경상도
						a.province_name(id="jeollado",name="#community_2",data-effect='slide', style='top:77%; left:25%; color:white;') 전라도
						
				div#community_2.slide
					div#header
						span.head_number 1
						span.head_number(style="font-size:15pt") >도선택
						p.menu_name 커뮤니티
					span#selected_area
					div.wrapper(id="kangwondo_map", style="display:none;")
						img.map(src="/images/map_kangwondo.png")
						
					div.wrapper(id="kyunggido_map", style="display:none;")
						img.map(src="/images/map_kyunggido.png")
					
					div.wrapper(id="chungcheongdo_map", style="display:none;")
						img.map(src="/images/map_chungcheongdo.png", style="width: 90%; margin-top: 15%;")
					
					div.wrapper(id="jeollado_map", style="display:none;")
						img.map(src="/images/map_jeollado.png")
						a.province(href="/community/community#community_3", rel='external',data-effect='slide')
					
					div.wrapper(id="kyungsangdo_map", style="display:none;")
						img.map(src="/images/map_kyungsangdo.png")
						a.province(href="/community/community#community_3", rel='external',data-effect='slide')
						
				div(id="community_3",class="slide",style="height:100%")
					div(class='header')
						span(style='height:20px; padding-left:20px; font-size:45pt') 3
						span(id='selected_city',style='height:20px; margin-right:10px; margin-top:12px; font-size:25pt; float:right') 강릉
					
					div.section
						table(cellspacing='0',align='center',cellpadding='8px',
							,style='border-top:thin solid gray; border-bottom:thin solid gray; width:100%; margin:10px; bottom:100px')
								tr
									td(style='padding-left:10px; border-bottom:thick solid gray;',width='40px') 시간
									td(style='padding-left:10px; border-bottom:thick solid gray;',width='60px') 장소 
									td(style='padding-left:10px; border-bottom:thick solid gray;') 무엇을
									td(style='padding-left:10px; border-bottom:thick solid gray;') 인원
include ../bottom.jade