script(type="text/javascript", src="/javascripts/bottom.js")
script(type="text/javascript", src="/javascripts/plan_bar.js")
style
	.plan_bar_hour {
		
	}
	.plan_bar {
		padding-left : 5px;
	}
div#footer(data-position="fixed")
	include ./widget/hourpicker.jade
	div(class='ui-grid-c', data-position="fixed")
		div(class='ui-block-a',align='center')
			input#mypage(type='image',src="/images/btn_my.png",width="30px")
		div(class='ui-block-b',align='center')
			input#plan(type='image',src="/images/btn_plan.png",width="30px")
		div(class='ui-block-c',align='center')
			input.btn_beongae(type='image',src="/images/btn_community.png",width="30px")
		div(class='ui-block-d',align='center', style='position:relative;')
			input.btn_more(type='image',src="/images/btn_more.png",width="30px")
	div#plan_status(style="background-color;blue")
		div.time_indicator
			span.0 0
			span.12 12
			span.24 24
	div#plan_bar
		div.plan_bar_wrapper
			li.droppable_hover
			ul.plan_bar(day=1, style="width:400px;")
				li.plan_bar_hour(hour=1, occupied=0)
				li.plan_bar_hour(hour=2, occupied=0)
				li.plan_bar_hour(hour=3, occupied=0)
				li.plan_bar_hour(hour=4, occupied=0)
				li.plan_bar_hour(hour=5, occupied=0)
				li.plan_bar_hour(hour=6, occupied=0)
				li.plan_bar_hour(hour=7, occupied=0)
				li.plan_bar_hour(hour=8, occupied=0)
				li.plan_bar_hour(hour=9, occupied=0)
				li.plan_bar_hour(hour=10, occupied=0)
				li.plan_bar_hour(hour=11, occupied=0)
				li.plan_bar_hour(hour=12, occupied=0)
				li.plan_bar_hour(hour=13, occupied=0)
				li.plan_bar_hour(hour=14, occupied=0)
				li.plan_bar_hour(hour=15, occupied=0)
				li.plan_bar_hour(hour=16, occupied=0)
				li.plan_bar_hour(hour=17, occupied=0)
				li.plan_bar_hour(hour=17, occupied=0)	
				li.plan_bar_hour(hour=19, occupied=0)
				li.plan_bar_hour(hour=20, occupied=0)
				li.plan_bar_hour(hour=21, occupied=0)
				li.plan_bar_hour(hour=22, occupied=0)
				li.plan_bar_hour(hour=23, occupied=0)
				li.plan_bar_hour(hour=24, occupied=0)
