div(class="footer")
	div(class='ui-grid-c')
		div(class='ui-block-a',align='center')
			input(type='image',src="/images/btn_my.png",width="30px")
		div(class='ui-block-b',align='center')
			input(type='image',src="/images/btn_plan.png",width="30px")
		div(class='ui-block-c',align='center')
			input(type='image',src="/images/btn_community.png",width="30px")
		div(class='ui-block-d',align='center')
			input(type='image',src="/images/btn_more.png",width="30px")
	div(id="plan_bar",style='height:80px; background:gray; border:thin solid gray; margin-top:5px')
		div(class="plan_bar_wrapper", style='height:60px; width:3200px; background:Red;')
			div(class="plan_bar_1st", style='height:60px; width:800px; background:Orange; float:left')