div(class="footer")
	div(class='ui-grid-c')
		div(class='ui-block-a',align='center')
			input(type='image',src="/images/btn_my.png",width="30px")
		div(class='ui-block-b',align='center')
			input(type='image',src="/images/btn_plan.png",width="30px")
		div(class='ui-block-c',align='center')
			input(type='image',src="/images/btn_community.png",width="30px")
		div(class='ui-block-d',align='center')
			input(type='image',src="/images/btn_more.png",width="30px")
	div#plan_bar
		div.plan_bar_wrapper
			div.plan_bar_1st