div(data-role="footer", data-position="fixed",style="margin-bottom:0; height:200px")
	div(align='center', style='height:40px')
		input(type='button',style='margin-right:45px')
		input(type='button',style='margin-right:45px')
		input(type='button',style='margin-right:45px')
		input(type='button')
	div(style='height:80px; border:thin solid gray;')
		p schedule