script(type="text/javascript", src="/javascripts/bottom.js")

div.footer
	ul.popup_othermenu
		li 
			p
				img(src="/images/btn_plan.png")
			p 불러오기
		li 
			p
				img(src="/images/btn_plan.png")
			p 공지사항
		li 
			p 
				img(src="/images/btn_plan.png")
			p Tip
		li 
			p
				img(src="/images/btn_plan.png")
			p 도움말
		li 
			p 
				img(src="/images/btn_plan.png")
			p 설정
	ul.popup_beongae
		li 번개방 생성하기
		li 나의 번개 활동내역
		li 다른 번개 검색하기
	div(class='ui-grid-c')
		div(class='ui-block-a',align='center')
			input#mypage(type='image',src="/images/btn_my.png",width="30px")
		div(class='ui-block-b',align='center')
			input#plan(type='image',src="/images/btn_plan.png",width="30px")
		div(class='ui-block-c',align='center')
			input#community(type='image',src="/images/btn_community.png",width="30px")
		div(class='ui-block-d',align='center', style='position:relative;')
			input.btn_more(type='image',src="/images/btn_more.png",width="30px")
	div#plan_bar
		div.plan_bar_wrapper
			span.plan_bar_1st(style="background-color=green;")
			span.plan_bar_2nd(style="background-color=blue;")
			span.plan_bar_3rd(style="background-color=purple;")
