div(class="footer")
	div(class='ui-grid-c')
		div(class='ui-block-a',align='center')
			input(type='button')
		div(class='ui-block-b',align='center')
			input(type='button')
		div(class='ui-block-c',align='center')
			input(type='button')
		div(class='ui-block-d',align='center')
			input(type='button')
	div(id="plan_bar",style='height:80px; overflow:auto; overflow-x:auto; background:gray; border:thin solid gray; margin-top:15px')
		div(style='height:60px; width:800px; background:Red; float:left;')
		div(style='height:60px; width:800px; background:Orange; float:left')