div(data-role="footer", data-position="fixed")
	div(align='center')
		input(type='button',style='margin-right:45px')
		input(type='button',style='margin-right:45px')
		input(type='button',style='margin-right:45px')
		input(type='button')
	div(style='height:100%; border:thin solid gray; margin-top:20px')
		p schedule