script(type="text/javascript", src="/javascripts/bottom.js")
script(type="text/javascript", src="/javascripts/plan_bar.js")
style
	.plan_bar_hour {
		
	}
	.plan_bar {
		padding-left : 5px;
	}
div#footer(data-position="fixed", data-role="footer")
	include ./widget/hourpicker.jade
	div(class='menu_bar', data-position="fixed")
		div(class='btn_menu',align='center')
			img#mypage(src="/images/btn_my.png",width="30px", height="30px")
		div(class='btn_menu',align='center')
			img#plan(src="/images/btn_plan.png",width="30px", height="30px")
		div(class='btn_menu',align='center')
			img.btn_beongae(src="/images/btn_community.png",width="30px", height="30px")
		div(class='btn_menu',align='center')
			img.btn_more(src="/images/btn_more.png",width="30px", height="30px")
	div#plan_bar
		input.plan_index(type='hidden', index=0);
		div.plan_bar_wrapper
			li.droppable_hover
			ul.plan_bar(day=1, style="width:400px;")
				li.plan_bar_hour(hour=1, occupied=0)
				li.plan_bar_hour(hour=2, occupied=0)
				li.plan_bar_hour(hour=3, occupied=0)
				li.plan_bar_hour(hour=4, occupied=0)
				li.plan_bar_hour(hour=5, occupied=0)
				li.plan_bar_hour(hour=6, occupied=0)
				li.plan_bar_hour(hour=7, occupied=0)
				li.plan_bar_hour(hour=8, occupied=0)
				li.plan_bar_hour(hour=9, occupied=0)
				li.plan_bar_hour(hour=10, occupied=0)
				li.plan_bar_hour(hour=11, occupied=0)
				li.plan_bar_hour(hour=12, occupied=0)
				li.plan_bar_hour(hour=13, occupied=0)
				li.plan_bar_hour(hour=14, occupied=0)
				li.plan_bar_hour(hour=15, occupied=0)
				li.plan_bar_hour(hour=16, occupied=0)
				li.plan_bar_hour(hour=17, occupied=0)
				li.plan_bar_hour(hour=17, occupied=0)
				li.plan_bar_hour(hour=19, occupied=0)
				li.plan_bar_hour(hour=20, occupied=0)
				li.plan_bar_hour(hour=21, occupied=0)
				li.plan_bar_hour(hour=22, occupied=0)
				li.plan_bar_hour(hour=23, occupied=0)
				li.plan_bar_hour(hour=24, occupied=0)
