div(class="footer")
	div(class='ui-grid-c')
		div(class='ui-block-a',align='center')
			input(type='button',data-inline='true',data-icon='check',data-iconpos='notext')
		div(class='ui-block-b',align='center')
			input(type='button',data-inline='true',data-icon='check',data-iconpos='notext')
		div(class='ui-block-c',align='center')
			input(type='button',data-inline='true',data-icon='check',data-iconpos='notext')
		div(class='ui-block-d',align='center')
			input(type='button',data-inline='true',data-icon='check',data-iconpos='notext')
	div(style='height:80px; border:thin solid gray;')
		p schedule