// 충청도 도시이름
div.city2(province_name="chungcheongdo", city_name="chungju", style='top:35%; left:57%; ') 충주
div.city2(province_name="chungcheongdo", city_name="jechon", style='top:31%; left:68%; ') 제천
div.city2(province_name="chungcheongdo", city_name="danyang", style='top:35%; left:75%; ') 단양
div.city2(province_name="chungcheongdo", city_name="gongju", style='top:45%; left:36%; ') 공주
div.city2(province_name="chungcheongdo", city_name="taean", style='top:38%; left:15%; ') 태안
div.city2(province_name="chungcheongdo", city_name="seosan", style='top:42%; left:21%; ') 서산
div.city2(province_name="chungcheongdo", city_name="buyeo", style='top:55%; left:25%; ') 부여

a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="chungcheongdo", city_name="buyeo", style='top:55%; left:25%; ') rptks

div.city2(province_name="chungcheongdo", city_name="chungju", style='top:35%; left:57%; ') 충주
div.city2(province_name="chungcheongdo", city_name="jechon", style='top:31%; left:68%; ') 제천
div.city2(province_name="chungcheongdo", city_name="danyang", style='top:35%; left:75%; ') 단양
div.city2(province_name="chungcheongdo", city_name="gongju", style='top:45%; left:36%; ') 공주
div.city2(province_name="chungcheongdo", city_name="taean", style='top:38%; left:15%; ') 태안
div.city2(province_name="chungcheongdo", city_name="seosan", style='top:42%; left:21%; ') 서산
div.city2(province_name="chungcheongdo", city_name="buyeo", style='top:55%; left:25%; ') 부여



// 강원도 도시이름
div.city2(province_name="kangwondo", city_name="buyeo", style='top:35%; left:65%; ') 평창
div.city2(province_name="kangwondo", city_name="buyeo", style='top:38%; left:53%; ') 강릉
