
// 경기도 도시이름
div.city2(province_name="kyunggido", city_name="seoul", style='top:35%; left:45%; ') 서울

// 충청도 도시이름
div.city2(province_name="chungcheongdo", city_name="boryeong", style='top:39%; left:22%;') 보령
div.city2(province_name="chungcheongdo", city_name="jecheon", style='top:27%; left:60%;') 제천

// 강원도 도시이름
div.city2(province_name="kangwondo", city_name="kangneung", style='top:35%; left:65%; ') 강릉
div.city2(province_name="kangwondo", city_name="pyungchang", style='top:38%; left:53%; ') 평창

// 전라도 도시이름
div.city2(province_name="jeollado", city_name="damyang", style='top:38%; left:53%; ') 담양
div.city2(province_name="jeollado", city_name="boseong", style='top:46%; left:53%; ') 보성
div.city2(province_name="jeollado", city_name="jeongup", style='top:43%; left:58%; ') 정읍

// 경상도 도시이름
div.city2(province_name="kyungsangdo", city_name="jinju", style='top:57%; left:38%; ') 진주
div.city2(province_name="kyungsangdo", city_name="gyeongju", style='top:44%; left:63%; ') 경주
div.city2(province_name="kyungsangdo", city_name="busan", style='top:55%; left:57%; ') 부산