// 충청도 도시이름
div.city2(province_name="chungcheongdo", city_name="choongjoo", style='top:15%; left:60%; ') 충주
div.city2(province_name="chungcheongdo", city_name="choongjoo", style='top:13%; left:68%; ') 제천
div.city2(province_name="chungcheongdo", city_name="choongjoo", style='top:18%; left:75%; ') 단양
div.city2(province_name="chungcheongdo", city_name="choongjoo", style='top:33%; left:36%; ') 공주
div.city2(province_name="chungcheongdo", city_name="choongjoo", style='top:23%; left:20%; ') 태안
div.city2(province_name="chungcheongdo", city_name="choongjoo", style='top:27%; left:23%; ') 서산
div.city2(province_name="chungcheongdo", city_name="choongjoo", style='top:40%; left:25%; ') 부여