// 충청도 도시이름
a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="chungcheongdo", city_name="chungju", style='top:35%; left:57%; ') 충주
a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="chungcheongdo", city_name="jechon", style='top:31%; left:68%; ') 제천
a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="chungcheongdo", city_name="danyang", style='top:35%; left:75%; ') 단양
a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="chungcheongdo", city_name="gongju", style='top:45%; left:36%; ') 공주
a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="chungcheongdo", city_name="taean", style='top:38%; left:15%; ') 태안
a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="chungcheongdo", city_name="seosan", style='top:42%; left:21%; ') 서산
a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="chungcheongdo", city_name="buyeo", style='top:55%; left:25%; ') 부여
a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="chungcheongdo", city_name="buyeo", style='top:55%; left:25%; ') rptks

// 강원도 도시이름
a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="kangwondo", city_name="buyeo", style='top:30%; left:25%; ') 철원
a.province(href="/plan/plan#plan_3", rel='external',data-effect='slide')
	div.city2(province_name="kangwondo", city_name="buyeo", style='top:55%; left:25%; ') 인제
div.city2(province_name="kangwondo", city_name="buyeo", style='top:30%; left:46%; ') 속초
div.city2(province_name="kangwondo", city_name="buyeo", style='top:33%; left:48%; ') 양양
div.city2(province_name="kangwondo", city_name="buyeo", style='top:55%; left:25%; ') 춘천
div.city2(province_name="kangwondo", city_name="buyeo", style='top:55%; left:25%; ') 홍천
div.city2(province_name="kangwondo", city_name="buyeo", style='top:55%; left:25%; ') 횡성
div.city2(province_name="kangwondo", city_name="buyeo", style='top:55%; left:25%; ') 평창
div.city2(province_name="kangwondo", city_name="buyeo", style='top:41%; left:55%; ') 강릉
div.city2(province_name="kangwondo", city_name="buyeo", style='top:53%; left:58%; ') 동해
div.city2(province_name="kangwondo", city_name="buyeo", style='top:53%; left:60%; ') 정선
div.city2(province_name="kangwondo", city_name="buyeo", style='top:55%; left:40%; ') 원주
div.city2(province_name="kangwondo", city_name="buyeo", style='top:53%; left:54%; ') 영월
div.city2(province_name="kangwondo", city_name="buyeo", style='top:58%; left:61%; ') 태백
div.city2(province_name="kangwondo", city_name="buyeo", style='top:55%; left:70%; ') 삼척
