div#periodpicker.background1
		ul(style="margin-top:0px; padding-left:0px", data-role="none")
			li.period_comment 날짜를 선택하세요!
				input.btn_cancel_period.btn1(type="button", value="취소", style="float:right;", data-role="none")
				input.btn_set_period.btn1(type="button", value="입력", style="float:right;", data-role="none")
			li(style="margin-left: 7%")
				label(style="border-radius:3px;") 출발
				select.period.start_year
				label.period_label 년 
				select.period.start_month
				label.period_label 월 
				select.period.start_day
				label.period_label 일 
			li(style="margin-left: 7%")
				label 도착
				select.period.end_year 
				label.period_label 년 
				select.period.end_month
				label.period_label 월 
				select.period.end_day
				label.period_label 일 
			li(style="text-align:center; margin-top:2px")
				