div#periodpicker
		ul(style="margin-top:0px; padding-left:0px", data-role="none")
			li 날짜를 선택하세요!
				input.btn_cancel_period(type="button", value="취소", style="float:right;", data-role="none")
				input.btn_set_period(type="button", value="입력", style="float:right;", data-role="none")
			li(style="margin-left: 7%")
				label(style="border-radius:3px;") 출발 
				input.period.start_year(type="text") 
				label.period_label  년 
				input.period.start_month(type="text, width:30px;") 
				label.period_label  월 
				input.period.start_day(type="text, width:30px;") 
				label.period_label  일 
			li(style="margin-left: 7%")
				label 도착 
				input.period.end_year(type="text") 
				label.period_label  년 
				input.period.end_month(type="text, width:30px;") 
				label.period_label  월 
				input.period.end_day(type="text, width:30px;") 
				label.period_label  일 
			li(style="text-align:center; margin-top:2px")
				