div(style="background:#D8D8D8; margin:0; height:30px; padding:5px")
	span(style="vertical-align:bottom")
		input(type="text",style="width:230px; height:20px; line-height:2",id="searchbar")
		input(type="image",style="border:thin gray solid; height:23px;",src="/images/icon_search.png")
	div(id="wrapper")
		div 해운대
		div 단풍
		div 일몰
		div 경주
		div 다보탑
		div 강릉