include top
				h2(align='right',style='margin-bottom:1; height:20px; padding-right:5px') My > 공유하기
				hr
				br
			div(data-role="content",id="my_share", data-add-back-btn="true",style="height:320px; margin:0 0 0px")
				div(align='center')
					select(width='300px',style='text-align:center; padding:3px;')
						option 2011년 9월의 늦여름
					table(width='200px', height='200px',align='center',style='margin-top:20px; margin-bottom:40px')
						tr
							td(align='center')
								input(type='button')
								br
								font(size='2')카카오톡
							td(align='center')
								input(type='button')
								br
								font(size='2')미투데이
							td(align='center')
								input(type='button')
								br
								font(size='2')싸이월드
						tr
							td(align='center')
								input(type='button')
								br
								font(size='2')페이스북
							td(align='center')
								input(type='button')
								br
								font(size='2')구글플러스
							td(align='center')
								input(type='button')
								br
								font(size='2')트위터
				include bottom