!!! 5
html
	head
	body
		form
			table
				tr
					td
						| 도시 데이터베이스 값 입력
					td
						input(type='submit', id='city_btn', name ='city_btn')
				tr
					td
						| city_name
					td
						input(type = 'text', id='city_name', name='city_name')
				tr
					td
						| do_name
					td
						input(type = 'text', id='do_name', name='do_name')
				tr
					td
						| city_extra
					td
						input(type = 'text', id='city_extra', name='city_extra')
						

			table
				tr
					td
						| 역 데이터베이스 값 입력
					td
						input(type='submit', id='station_btn', name ='station_btn')
				tr
					td
						| station_name
					td
						input(type = 'text', id='station_name', name='station_name')
				tr
					td
						| station_phone
					td
						input(type = 'text', id='station_phone', name='station_phone')
				tr
					td
						| station_homepage
					td
						input(type = 'text', id='station_homepage', name='station_homepage')
				tr
					td
						| city_name
					td
						input(type = 'text', id='city_name', name='city_name')



			table
				tr
					td
						| 관광지 데이터베이스 입력
					td
						input(type='submit', id='sights_btn', name ='sights_btn')
				tr
					td
						| sights_name
					td
						input(type = 'text', id='sights_name', name='sights_name')
				tr
					td
						| city_name
					td
						input(type = 'text', id='city_name', name='city_name')
				tr
					td
						| sights_extra
					td
						input(type = 'text', id='sights_extra', name='sights_extra')
	
				