!!! 5
html
	head
		title=title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		//외부 library
		//jquery, jquery mobile
		link(rel="stylesheet",href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", type="text/javascript")
		script(src="http://code.jquery.com/jquery-1.8.2.min.js")
		script(src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js")

		//mobipick
		link(rel="stylesheet", type="text/css", href="/lib/mobipick.css")
		script(type="text/javascript", src="/lib/xdate.js")
		script(type="text/javascript", src="/lib/xdate.i18n.js")
		script(type="text/javascript", src="/lib/mobipick.js")

		//??
		script(type="text/javascript", src="http://davidlynch.org/projects/maphilight/jquery.maphilight.min.js")
		
		//css files
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='/stylesheets/searchbar.css')
		link(rel='stylesheet', href='/stylesheets/plan.css')
		link(rel='stylesheet', href='/stylesheets/random_span.css')
		link(rel='stylesheet', href='/stylesheets/slide.css')
		link(rel='stylesheet', href='/stylesheets/nailo_record.css')

		//script files
		script(src="/javascripts/slide.js")
		script(src="/javascripts/top.js")	
		script(src="/javascripts/plan.js")
		script(src="/javascripts/random_display.js")
		
		script

	body
		div(data-role="page")