div#plan_boseong(class="slide")
	div#header
		img(id="city_mark",src="/images/mark_boseong.png",align="center",width="70px") 
		span(id="city_name",style="magin-left:5px:")
			font(size="4pt",style="font-weight:bold") 보성
	p
	div.wrapper(class="tour",id="boseong_map")
		img(src="/images/map_boseong.png", style='position:absolute; width:100%; top:0px; left:0px; z-index:0')
		span.province(style='position:absolute; top:52%; left:23%; z-index:2;')						
			label(for="samyang",style="font-size:8pt;z-index:4;") 보성 녹차밭
			br
			input(id="samyang",type="checkbox",style="z-index:2003; opacity:0;")
		span.province(style='position:absolute; top:55%; left:23%; z-index:2;')						
			label(for="welcometo",style="font-size:8pt;z-index:4;") 한국 차 박물관
			br
			input(id="welcometo",type="checkbox",style="z-index:2003; opacity:0;")
		span.province(style='position:absolute; top:33%; left:70%; z-index:2;')						
			label(for="walljeongsa",style="font-size:8pt;z-index:4;") 벌교
			br
			input(id="walljeongsa",type="checkbox",style="z-index:2003; opacity:0;")
		span.province(style='position:absolute; top:64%; left:26%; z-index:2;')						
			label(for="leesungbok",style="font-size:8pt;z-index:4;") 율포 해수욕장
			br
			input(id="leesungbok",type="checkbox",style="z-index:2003; opacity:0;")
		span.province(style='position:absolute; top:54%; left:12%; z-index:2;')						
			label(for="yangddae",style="font-size:8pt;z-index:4;") 제암산
			br
			input(id="yangddae",type="checkbox",style="z-index:2003; opacity:0;")