include ../frame/top.jade
			div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
						include ../frame/search.jade
			div(id="plan_3", class="slide current")
				div.header(style="margin-top:-10px")
					span(style='height:20px; padding-left:20px; font-size:45pt') 3
					input.btn_save(type="button", value="SAVE", name="save")
			img(src="/images/map.png", style='position:absolute; height:300px; top:10%; left:10%; z-index:1;')
			script(src="http://code.jquery.com/jquery-1.4.2.min.js", type="text/javascript")
			script(src="/javascripts/plan/jquery.subwayMap-0.5.0.js", type="text/javascript")
			div(class="subway-map",data-columns="29", data-rows="20", data-cellSize="10",
				data-gridNumbers="false", data-grid="false", data-lineWidth="2")
				ul(data-color="#ff4db2")
					li(data-coords="17,4")
						a(href="#", style="font-size:7pt;margin-top:0px") 강릉
					li(data-coords="15,6")
						a(href="#",style="font-size:7pt") 태백
			script(type="text/javascript")
				$(".subway-map").subwayMap({ debug: true });
			div(style="margin-top:-30px; padding-right:10px; position:absolute; bottom:105px; right:5px")	
				span
					input(type="button",value="담기", name="insert",style="width:50px; height:20px; margin-right:5px; font-size:7pt")
					input(type="button",value="확정",name="confirm",style="width:50px; height:20px;font-size:7pt")
		include ../frame/bottom.jade