include ../top.jade
		script(src="/javascripts/plan/plan1.js")
		script(src="/javascripts/plan/see.js")
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
					include ../search.jade
		include ../city_name.jade
		include ../widget/daypicker.jade
		include ../widget/popup_menu.jade
		div#plan_1(class="slide current")
			div#header
				img(src="/images/brush2.png", style="position:absolute; top:10px;")
				span.head_number 1
				span.head_number(style="font-size:15pt") >도선택
			include ../periodpicker.jade
			div.wrapper(id="plan_num")
				div.map_wrapper
					img.map(src="/images/map_brush4.png")
				a.province_name(id="kangwondo",href="/plan/plan#plan_2", rel='external',data-effect='slide',data-role="none", style='top:20%; left:55%; z-index:2; color:white') 강원도
				a.province_name(id="kyunggido",href="/plan/plan#plan_2", rel='external',data-effect='slide', data-role="none",  style='top:33%; left:29%; color:white') 경기도
				a.province_name(id="chungcheongdo",href="/plan/plan#plan_2", rel='external',data-effect='slide', data-role="none", style='top:50%; left:33%; color:white') 충청도
				a.province_name(id="kyungsangdo",href="/plan/plan#plan_2", rel='external',data-effect='slide', data-role="none", style='top:60%; left:62%; color:white') 경상도
				a.province_name(id="jeollado",href="/plan/plan#plan_2", rel='external',data-effect='slide', data-role="none", style='top:73%; left:27%; color:white') 전라도
		include ./plan2.jade
		include ./plan3.jade
		include ./boryeong_see.jade
		include ./boseong_see.jade
		include ./busan_see.jade
		include ./damyang_see.jade
		include ./gyeongju_see.jade
		include ./jecheon_see.jade
		include ./jeongup_see.jade
		include ./jinju_see.jade
		include ./kangneung_see.jade
		include ./pyungchang_see.jade
		include ./seoul_see.jade
div(id="board",style="width:150px; height:50px; border:thin solid gray; display:none; background:white; z-index:5;")
include ../bottom.jade
	
		
