include ../top.jade
				p.province_name(style='position:relative; display:block; margin: 0 auto;')아아
				div.wrapper(style='position:relative; top:0px; left:0px; width:100%; height:0px; padding-bottom:60%; overflow:hidden;')
					img(src="/images/map_choongbuk.png", style='position:absolute; width:100%; height: 100%; top:0px; left:0px; z-index:0;')
					a.city(src="/plan/plan3", data-transition="slide", style='position:absolute; width:50px; height: 50px; top:20%; left:60%; z-index:2;')청주
					
		include ../bottom.jade

