div#plan_2(class="slide")
	div#header
		span.head_number 2
		span.head_number(style="font-size:15pt") >도시선택
		span#selected_area
	div.wrapper(id="kyunggido_map",style="display:none")
		img.map(src="/images/map_kyunggido.png")
		a.province(name="#plan_3",data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:65%; z-index:2;')
	div.wrapper(id="kangwondo_map",style="display:none")
		img.map(src="/images/map_kangwondo.png")
		a.province(name="#plan_3",data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:65%; z-index:2;')
	div.wrapper(id="chungcheongdo_map",style="display:none;")
		div.map_wrapper
			img.map(src="/images/map_chungcheongdo.png", style="width: 90%; margin-top: 15%;")
		a.province(name="#plan_3",data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:65%; z-index:2;')
	div.wrapper(id="jeollado_map",style="display:none")
		img.map(src="/images/map_jeollado.png")
		a.province(name="#plan_3",data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:65%; z-index:2;')
	div.wrapper(id="kyungsangdo_map",style="display:none")
		img.map(src="/images/map_kyungsangdo.png")
		a.province(name="#plan_3",data-effect='slide', style='position:absolute; width:50px; height: 50px; top:60%; left:65%; z-index:2;')

