include ../top.jade
				input(type="button", value="SAVE", name="save", style='position:relative; display:block; width:100px; height:50px; margin:0 0 0 auto;')
				p
				div.wrapper_map(style="position:relative; top:0px; left:0px; width:100px; height:0px; padding-bottom:90%; overflow:hidden;")
					img.map(src="/images/map.png", style='position:absolute; width:100%; height: 100%; top:0px; left:0px; z-index:0;')
					a.province(href="/plan/plan2", rel='external', style='position:absolute; width:50px; height: 50px; top:20%; left:60%; z-index:2;')강원도

include ../bottom.jade