include ../top.jade
		script(src="/javascripts/plan/plan1.js")
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
					include ../search.jade
		include ../city_name.jade
		include ../widget/daypicker.jade
		div.container
			div(id="plan_1",class="slide current")
				script(src="/javascripts/plan/plan1.js")
				div.header
					span.head_number 1
					span.head_number(style="font-size:15pt") >도선택
					input.btn_save(type="button", value="SAVE", name="save")
				include ../periodpicker.jade
				div.wrapper(id="plan_num")
					img.map(src="/images/map.png")
				a.province(id="kangwondo",href="/plan/plan#plan_2", rel='external',data-effect='slide',data-role="none", style='position:absolute; width:50px; height: 50px; top:20%; left:55%; z-index:2;') 강원도
				a.province(id="kyunggido",href="/plan/plan#plan_2", rel='external',data-effect='slide', data-role="none",  style='position:absolute; width:50px; height: 50px; top:30%; left:27%; z-index:2;') 경기도
				a.province(id="chungcheongdo",href="/plan/plan#plan_2", rel='external',data-effect='slide', data-role="none", style='position:absolute; width:50px; height: 50px; top:50%; left:35%; z-index:2;') 충청도
				a.province(id="kyungsangdo",href="/plan/plan#plan_2", rel='external',data-effect='slide', data-role="none", style='position:absolute; width:50px; height: 50px; top:60%; left:64%; z-index:2;') 경상도
				a.province(id="jeollado",href="/plan/plan#plan_2", rel='external',data-effect='slide', data-role="none", style='position:absolute; width:50px; height: 50px; top:70%; left:25%; z-index:2;') 전라도
		include ./plan2.jade
		include ../bottom.jade
	
		
