div#plan_2(class="slide")
	div#header
		span.head_number1 2
		span.head_number2(style="font-size:15pt") >도시선택
		span#selected_area
	a.back(style="font-size:8pt") BACK
		span#back(type="button",name="#plan_1", value="back")
	div.wrapper(id="kyunggido_map",style="display:none")
		img.map(src="/images/map_kyunggido.png")
	div.wrapper(id="chungcheongdo_map",style="display:none;")
		div.map_wrapper
			img.map(src="/images/map_chungcheongdo.png", style="width: 90%; margin-top: 15%;")
	div.wrapper(id="jeollado_map",style="display:none")
		div.map_wrapper
			img.map(src="/images/map_jeollado.png")
	div.wrapper(id="kyungsangdo_map",style="display:none")
		div.map_wrapper
			img.map(src="/images/map_kyungsangdo.png")
	div.wrapper(id="kangwondo_map",style="display:none")
		div.map_wrapper
			img.map(src="/images/map_kangwondo.png")

