include ../top.jade
			div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
						include ../search.jade
			div(class='container')

				div(id="community_1",class="slide current")
					div(class='header')
						span(style='height:20px; padding-left:20px; font-size:45pt') 1
						input.btn_save(type="button", value="SAVE", name="save")
					p
					div.wrapper_plan(style="position:relative; top:0px; left:0px; width:100px; height:0px; padding-bottom:100%; overflow:auto;")
						img.map(src="/images/map.png", style='')
						a.province(href="/plan/plan2", rel='external')강원도
include ../bottom.jade