include ../top.jade
			script(src="/javascripts/plan/see.js", type="text/javascript")
			div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
						include ../search.jade
			div.container
				div.header
					img(id="city_mark",src="/images/mark_pyungchang.gif",align="center",width="70px") 
					span(id="city_name",style="magin-left:5px:")
						font(size="4pt",style="font-weight:bold") 평창
				p
				div.wrapper(class="tour",id="pyungchang_map",style="position:relative; margin-top:-30px; left:30px; width:270px; height:0px; padding-bottom:100%; overflow:auto;")
					img(src="/images/map_pyungchang.png", style='position:absolute; width:100%; top:0px; left:0px; z-index:0')
					span.province(style='position:absolute; top:17%; left:73%; z-index:2;')						
						label(for="samyang",style="font-size:8pt;z-index:4;") 삼양목장
						br
						input(id="samyang",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:73%; left:45%; z-index:2;')						
						label(for="welcometo",style="font-size:8pt;z-index:4;") 율치리
						br
						input(id="welcometo",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:13%; left:60%; z-index:2;')						
						label(for="walljeongsa",style="font-size:8pt;z-index:4;") 월정사
						br
						input(id="walljeongsa",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:24%; left:36%; z-index:2;')						
						label(for="leesungbok",style="font-size:8pt;z-index:4;") 이승복 기념관
						br
						input(id="leesungbok",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:24%; left:73%; z-index:2;')						
						label(for="yangddae",style="font-size:8pt;z-index:4;") 양떼 목장
						br
						input(id="yangddae",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:21%; left:39%; z-index:2;')						
						label(for="banga",style="font-size:8pt;z-index:4;") 방아다리	약수
						br
						input(id="banga",type="checkbox",style="z-index:3;opacity:0;")
					span.province(style='position:absolute; top:21%; left:60%; z-index:2;')						
						label(for="jasaeng",style="font-size:8pt;z-index:4;") 한국 자생 식물원
						br
						input(id="jasaeng",type="checkbox",style="z-index:3;opacity:0;")
					span.province(style='position:absolute; top:27%; left:23%; z-index:2;')						
						label(for="herbnara",style="font-size:8pt;z-index:4;") 허브나라
						br
						input(id="herbnara",type="checkbox",style="z-index:3;opacity:0;")
					span.province(style='position:absolute; top:35%; left:23%; z-index:2;')						
						label(for="blue",style="font-size:8pt;z-index:4;") 블루 캐니언
						br
						input(id="blue",type="checkbox",style="z-index:3;opacity:0;")
div(id="board",style="width:150px; height:50px; border:thin solid gray; display:none; background:white")
include ../bottom.jade