include ../frame/top.jade
			script(src="/javascripts/plan/see.js", type="text/javascript")
			div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
						include ../frame/search.jade
			div.container
				div.header
					img(id="city_mark",src="/images/mark_kangneung.png",align="center") 
					span(id="city_name",style="magin-left:5px:")
						font(size="4pt",style="font-weight:bold")강릉 
					img(src="/images/weather_sunny.png",style="float:right; width:60px; margin-right:10px; margin-top:10px")

				div.wrapper.tour(id="kangwondo_map")
					img(src="/images/map_kangneung.png", style='position:absolute; width:100%; top:0px; left:0px; z-index:0')
					span.province(style='position:absolute; top:40%; left:48%; z-index:2;')						
						label(for="o_juk_hun",style="font-size:8pt;z-index:4;") 오죽헌
						br
						input(id="o_juk_hun",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:34%; left:60%; z-index:2;')						
						label(for="kyungpodae",style="font-size:8pt;z-index:4;") 경포대
						br
						input(id="kyungpodae",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:30%; left:63%; z-index:2;')						
						label(for="kyeongposea",style="font-size:8pt;z-index:4;") 경포 해수욕장
						br
						input(id="kyeongposea",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:38%; left:60%; z-index:2;')						
						label(for="chodang",style="font-size:8pt;z-index:4;") 초당 두부 마을
						br
						input(id="chodang",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:50%; left:33%; z-index:2;')						
						label(for="yangddae",style="font-size:8pt;z-index:4;") 양떼 목장
						br
						input(id="yangddae",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:35%; left:50%; z-index:2;')						
						label(for="seonkyo",style="font-size:8pt;z-index:4;") 선교장
						br
						input(id="seonkyo",type="checkbox",style="z-index:3; opacity:0;")
					span.province(style='position:absolute; top:45%; left:50%; z-index:2;')						
						label(for="coffeefactory",style="font-size:8pt;z-index:4;") 커피 공장
						br
						input(id="coffeefactory",type="checkbox",style="z-index:3;opacity:0;")
					span.province(style='position:absolute; top:55%; left:80%; z-index:2;')						
						label(for="jeongdongjin",style="font-size:8pt;z-index:4;") 정동진
						br
						input(id="jeongdongjin",type="checkbox",style="z-index:3;opacity:0;")
div(id="board",style="width:150px; height:50px; border:thin solid gray; display:none; background:white")
include ../frame/bottom.jade