A:link {text-decoration:none; color:#000080}
A:visited {text-decoration:none; color:#000080}
A:active {text-decoration:none; color:#000080}
A:hover {text-decoration:none; color:#529CFF}

html, body{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
.container {
	top: 0px;
	width:100%;
	left: 0px;
	bottom:100px;
	margin-top: -15px;
	overflow-y: auto;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 1000px
}
.header {
	padding: 5px;
	position: relative;
	margin-top: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
}

.section {
	position: relative;
	width: 100%;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}

.footer{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
	-moz-transition: all 0.2s ease-in-out 0.1s;  /* CSS3 transition of UL state. Last 0.1s specifies delay before animation */
    -o-transition: all 0.2s ease-in-out 0.1s; /* instead of ease-in-out, also try cubic-bezier(0.25, 0.1, 0.25, 1.4) instead */
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
}
