
body{
	margin: 0;
	font-size: 9pt;
	font-family: 'NanumGothicWeb';
	background-color: #E4C8C8;
}

#container{
	position: absolute;
	width: 100%;
}

#header{
	position: absolute;
	width: 100%;
	height: 60px;
	line-height: 60px;
	top: 0px;
	left: 0px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 4%, rgba(114,114,114,1) 17%, rgba(114,114,114,1) 30%, rgba(84,84,84,1) 55%, rgba(58,58,58,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(140,140,140,1)), color-stop(17%,rgba(114,114,114,1)), color-stop(30%,rgba(114,114,114,1)), color-stop(55%,rgba(84,84,84,1)), color-stop(89%,rgba(58,58,58,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* W3C */
	border-bottom: 1px solid black;
	overflow: hidden;
	width: 100%;
/*	border-bottom: 1px solid black;
/*	background: rgb(255,255,255); /* Old browsers */
/*	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 4%, rgba(114,114,114,1) 17%, rgba(114,114,114,1) 30%, rgba(84,84,84,1) 55%, rgba(58,58,58,1) 89%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(140,140,140,1)), color-stop(17%,rgba(114,114,114,1)), color-stop(30%,rgba(114,114,114,1)), color-stop(55%,rgba(84,84,84,1)), color-stop(89%,rgba(58,58,58,1))); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* IE10+ */
/*	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* W3C */
}

.wrapper{
	position: absolute;
	top: 60px;
	width: 100%;
	max-height: 500px;
	overflow: hidden;
	overflow-y: auto;
}

.map_wrapper, .btn_area, .btn_menu{
	background-color: #EEDCDC;
}

.btn_area{
	width: 100%;
	height: 35px;
}

.ui-loader, .ui-corner-all, .ui-body-a, .ui-loader-default{
	height: 0px;
	display: none;
}

#footer{
	position: fixed;
	height: 120px;
	width: 100%;
	z-index: 2;
	bottom: 0px;
	overflow: hidden;
	-moz-transition: all 0.2s ease-in-out 0.1s;  /* CSS3 transition of UL state. Last 0.1s specifies delay before animation */
    -o-transition: all 0.2s ease-in-out 0.1s; /* instead of ease-in-out, also try cubic-bezier(0.25, 0.1, 0.25, 1.4) instead */
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
}

#plan_bar{
	position: absolute;
	width: 100%;
	height: 80px; 
	background:gray; 
	border-top: thick black;
	bottom: 0px;
	overflow:auto;
}

.head_number1{
	position: relative;
	height: 100%; 
	padding-left: 1%; 
	padding-right: 6%;
	font-size:30pt;
	color: white;
	text-shadow: 0 0 0;
	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(192,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(192,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(192,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(192,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(192,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(192,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00c00000',GradientType=1 ); /* IE6-9 */
	display: inline-block;
	z-index: 20;
}
.head_number2{
	position: relative;
	width: 35%;
	height:20px; 
	font-size:30pt;
	color: white;
	text-shadow: 0 0 0;
	margin-bottom: 4%;
	display: inline-block;
	z-index: 20;
}

.btn_save{
	right: 1%;
	bottom: 1%;
}

.menu_name{
	position: absolute;
	right: 1%;
	top: 1px;
	font-size: 15pt;
	text-align: right;
	padding-right: 10px;
	margin-top: 3%;
	color: white;
	text-shadow: 0 0 0;
	display: inline-block;
	float:right;
}

.back {
	position: absolute;
	top: 2.3%;
	left: 2.2%;
    height: 22.5px;
    width: 23px;
	background-image: -webkit-gradient(linear, left top, right bottom,
          from(#7d828c),
          color-stop(0.5, #303749),
          color-stop(0.5, #121a2e),
          to(#121a2e));
   border-left: solid 1px rgba(79, 79, 79, 0.75);
   border-bottom: solid 1px rgba(79, 79, 79, 0.75);
  -webkit-transform: rotate(45deg);
  -webkit-mask-image: -webkit-gradient(linear, left bottom, right top,
          from(#000000),
          color-stop(0.5,#000000),
          color-stop(0.5, transparent),
          to(transparent));
   display: inline-block;
   z-index: 20;
}
#back{
	position: absolute;
	width: 40px;
	height: 25px;
	text-align: center;
	padding-top: 5px;
	top: 1%;
	left: 5%;
	color: white;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7D828C),color-stop(0.5, #303749), color-stop(0.5, #121A2E), to(#121A2E));
	border: solid 1px rgba(79, 79, 79, 0.75);
	border-left: 0;
	display: inline-block;
	z-index: 40;
}

.menu_bar{
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #EEDCDC;
}

.btn_menu{
	width: 25%;
	height: 40px;
	float: left;
	background-color: #EEDCDC;
}

/* + 버튼을 누르면 나오는 추가메뉴 팝업창 */
.popup_othermenu{
	position: absolute;
	width: 240px;
	height: 80px;
	bottom: 140px;
	right: 7%;
	background-color: #DCC5C5;
	box-shadow: inset 2px 2px 2px #B0A1A1;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: white;
    text-shadow: 0 0 0;
	list-style: none;
	margin: 0 auto;
	padding-left: 1px;
	text-align: center;
	display: none;
	z-index: 100;
}
.popup_othermenu > li {
	width: 40px;
	height: 40px;
	font-size: 9pt;
	margin-left: 3px;
	margin-right: 3px;
	display: inline-block;
}
.popup_othermenu > p{
	margin: 0 auto;
	display:block;
}
p > img{
	width: 30px;
	height: 30px;
}

/* 커뮤니티버튼을 누르면 나오는 추가메뉴 팝업창 */
.popup_beongae{
	position: absolute;
	width: 150px;
	height: 60px;
	right: 35%;
	bottom: 140px;
	border:thin gray solid;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
    -webkit-border-radius: 10px;
	background-color: #DCC5C5;
	list-style: none;
	margin: 0 auto;
	padding-left: 1px;
	text-align: center;
	display: none;
	z-index: 100;
}
.popup_beongae > li {
	font-size: 11pt;
	line-height: 2;
	border-top: 1px solid white;
	border-bottom: 1px solid #ACACAC;
}

#plan_status{
	height: 10px;
}
.plan_date {
	height: 20px;
}
.plan_date div{	/* 날짜영역의 개별날짜영역 */
	height: 20px;
	display: inline-block;
}
.time_indicator {
	height: 10px;
}
.time_indicator {
	font-size: 8px;
}
.time_indicator > span {
	position: relative;
}
.plan_city{
	list-style: none;
	display: inline-block;
}

.city2{
	font: 14pt bold black;
	color: #3A3C3C;
}

/* 개별 플랜을 드래그하면 크기를 조절하는 컨트롤영역 */
.ui-resizable-e {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 8px;
	height: 50px;
	display: inline-block;
}
.ui-resizable-w {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 8px;
	height: 50px;
	display: inline-block;
}
.ui-resizable{
	position: absolute !important;
}

A:link {text-decoration:none; font-weight: bold; color: #3A3C3C}
A:visited {text-decoration:none; font-weight: bold; color:#3A3C3C}
A:active {text-decoration:none; font-weight: bold; color:#3A3C3C}
A:hover {text-decoration:none; font-weight: bold; color:#3A3C3C}
