body{
	margin: 0;
}

#container{
	position: absolute;
	width: 100%;
}

#header{
	position: absolute;
	width: 100%;
	height: 60px;
	line-height: 60px;
	top: 0px;
	left: 0px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 4%, rgba(114,114,114,1) 17%, rgba(114,114,114,1) 30%, rgba(84,84,84,1) 55%, rgba(58,58,58,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(140,140,140,1)), color-stop(17%,rgba(114,114,114,1)), color-stop(30%,rgba(114,114,114,1)), color-stop(55%,rgba(84,84,84,1)), color-stop(89%,rgba(58,58,58,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* W3C */
	border-bottom: 1px solid black;
	overflow: hidden;
	width: 100%;
/*	border-bottom: 1px solid black;
/*	background: rgb(255,255,255); /* Old browsers */
/*	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 4%, rgba(114,114,114,1) 17%, rgba(114,114,114,1) 30%, rgba(84,84,84,1) 55%, rgba(58,58,58,1) 89%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(140,140,140,1)), color-stop(17%,rgba(114,114,114,1)), color-stop(30%,rgba(114,114,114,1)), color-stop(55%,rgba(84,84,84,1)), color-stop(89%,rgba(58,58,58,1))); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* IE10+ */
/*	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* W3C */
}

.wrapper{
	position: absolute;
	top: 60px;
	width: 100%;
	max-height: 500px;
	overflow: hidden;
	overflow-y: auto;
}

.ui-loader, .ui-corner-all, .ui-body-a, .ui-loader-default{
	height: 0px;
	display: none;
}

#footer{
	position: absolute;
	height: 130px;
	width: 100%;
	z-index: 2;
	bottom: 0px;
	overflow: hidden;
	-moz-transition: all 0.2s ease-in-out 0.1s;  /* CSS3 transition of UL state. Last 0.1s specifies delay before animation */
    -o-transition: all 0.2s ease-in-out 0.1s; /* instead of ease-in-out, also try cubic-bezier(0.25, 0.1, 0.25, 1.4) instead */
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
}

#plan_bar{
	width: 100%;
	height: 80px; 
	background:gray; 
	border-top: thick black;
	overflow:auto;
}

.head_number{
	position: relative;
	height:20px; 
	padding-left:10px; 
	font-size:30pt;
	color: white;
	text-shadow: -2px -2px -2px -2px #222;
	z-index: 20;
}

.menu_name{
	font-size: 20pt;
	text-align: right;
	padding-right: 10px;
	margin-top: 20px;
	color: white;
	float:right;
}

/* + 버튼을 누르면 나오는 추가메뉴 팝업창 */
.popup_othermenu{
	position: absolute;
	width: 240px;
	height: 80px;
	bottom: 140px;
	right: 7%;
	border:thin gray solid;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
    -webkit-border-radius: 10px;
	background-color: #BCF1ED;
	list-style: none;
	margin: 0 auto;
	padding-left: 1px;
	text-align: center;
	display: none;
	z-index: 100;
}
.popup_othermenu > li {
	width: 40px;
	height: 40px;
	font-size: 9pt;
	margin-left: 3px;
	margin-right: 3px;
	display: inline-block;
}
.popup_othermenu > p{
	margin: 0 auto;
	display:block;
}
p > img{
	width: 30px;
	height: 30px;
}

/* 커뮤니티버튼을 누르면 나오는 추가메뉴 팝업창 */
.popup_beongae{
	position: absolute;
	width: 150px;
	height: 95px;
	right: 35%;
	bottom: 140px;
	border:thin gray solid;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
    -webkit-border-radius: 10px;
	background-color: #A1E8C4;
	list-style: none;
	margin: 0 auto;
	padding-left: 1px;
	text-align: center;
	display: none;
	z-index: 100;
}
.popup_beongae > li {
	font-size: 11pt;
	line-height: 2;
	border-top: 1px solid white;
	border-bottom: 1px solid #ACACAC;
}

#plan_status{
	height: 10px;
}
.plan_date {
	height: 20px;
}
.plan_date div{	/* 날짜영역의 개별날짜영역 */
	height: 20px;
	display: inline-block;
}
.time_indicator {
	height: 10px;
}
.time_indicator {
	font-size: 8px;
}
.time_indicator > span {
	position: relative;
}
.plan_city{
	list-style: none;
	display: inline-block;
}

.city2{
	font-weight: bold;
	color: #3A3C3C;
}

/* 개별 플랜을 드래그하면 크기를 조절하는 컨트롤영역 */
.ui-resizable-e {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 8px;
	height: 50px;
	display: inline-block;
}
.ui-resizable-w {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 8px;
	height: 50px;
	display: inline-block;
}
.ui-resizable{
	position: absolute !important;
}

A:link {text-decoration:none; font-weight: bold; color: #3A3C3C}
A:visited {text-decoration:none; font-weight: bold; color:#3A3C3C}
A:active {text-decoration:none; font-weight: bold; color:#3A3C3C}
A:hover {text-decoration:none; font-weight: bold; color:#3A3C3C}
