.login_box {
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

.text_login{
	width: 50%;
	height: 30px;
	margin-left: 10%;
	font-size: 11pt;
	color: #ACACAC;
	border: 1px solid #ACACAC;
}

.btn_logout{
	width: 13%;
	height: 60%;
	margin-top: 1%;
	margin-right: 5%;
	font-size: 9pt;
}

.text_join{
	width: 120px;
	height: 25px;
}

.btn_signup{
	margin-right: 5%;
	font-size: 10pt; 
	font-weight: bold;
	border: 1px solid black;
	border-radius: 3px;
	background-color: #FEEB84;
	float: right;
}

/**** join.jade ****/

.tbl_join{
	margin: 0 auto;
	padding: 2% 2%;
	font-size: 10pt;
	border-radius: 5px;
	box-shadow: in
}
.tbl_join td{
	width: 150px;
	line-height: 2.5;
}

#submit_btn{
	width: 70px;
	height: 30px;
	float: right;
	margin-right: 15%;
}

/**** mypage.jade ****/
.ul_mypage{
	width: 80%;
	height: 80%;
	margin-top:20px; 
	margin-bottom:40px;
	list-style: none;
}
.ul_mypage li{
	height: 15%;
	font-size: 13pt;
	border-bottom: 1px solid gray;
	border-top: 1px solid white;
	padding-top: 5%;
}
.mypage_header{
	height: 10%;
	margin-top:10px;
	box-shadow: inset 1px 1px 8px #C0B4B4;
	background-color: #F2ECEC;
}

#nickname{
	margin-top: 1%;
	text-align: center;
	border: 1px solid #ACACAC;
	box-shadow: inset 1px 1px 1px;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	background-color:white; 
	display:inline-block; 
	width: 35%; 
	padding: 5px; 
	text-align: right;
}
/**** my_nailo.jage ****/
#nailo_record div{
	width: 80%;
	height: 4%;
	margin: 5px;
	padding:10px 10px;
	font-size: 15pt;
	text-shadow: 0 0 6px gray;
	color: white;
}

div .color1 {
	background-color: #FB7B82;
}
div .color2 {
	background-color: #FA9095;
}
div .color3 {
	background-color: #FAA7AB;
}
div .color4 {
	background-color: #F8A9AD;
}
div .color5 {
	background-color: #F7C9CC;
}
div .color6 {
	background-color: #F7CDCF;
}
/**** share.jade ****/
#share_plan{
	width: 150px;
	font-size: 30pt;
}