#nailo_record div{
	width:300px;
	height:15px;
	margin: 5px;
	padding:10px 10px;
	color: white;
}

div .color1 {
	background-color: #ECD078;
}
div .color2 {
	background-color: #EC78B4;
}
div .color3 {
	background-color: #8FEC78;
}
div .color4 {
	background-color: #89D2E9;
}
div .color5 {
	background-color: #CD6EEB;
}
div .color6 {
	background-color: #6E8CEB;
}