
.map_wrapper{
	width: 100%;
	max-height: 700px;
	overflow-y: auto;
	display: table;
}

.map{
	width: 70%;
	text-align:center; 
	vertical-align:middle;
	margin: 0 auto;
	display: block;
}
.province_name{
	position:absolute; 
	width:60px; 
	height: 50px; 
	color: white;
	text-shadow: 1px 1px 9px black;
	font-size: 15pt;
	z-index:2;
}



#selected_area{
	position: absolute;
	right: 1%;
	top: 1px;
	font-size: 15pt;
	text-align: right;
	padding-right: 10px;
	margin-top: 3%;
	color: white;
	text-shadow: 0 0 0;
	display: inline-block;
	float: right;
}


p.city{
	position:absolute; 
	width:50px; 
	height: 50px; 
	top:20%; 
	left:60%; 
	z-index:2;
}
.city2{
	position:absolute;
	width:50px; height: 50px;
	z-index:50;
	display: none;
}
.map_province{
	position:absolute; 
	width:80%; 
	height:80%; 
	top:0px; 
	left:0px; 
	margin-left: 10%;
	z-index:0;
}

#periodpicker, #subject_panel{
	position: absolute;
	width: 90%;
	height: 100px;
	top: 60px;
	font-size: 9pt;
	box-shadow: 0px 1px 1px #3A3C3C;
	border: 1px solid #ACACAC;
	border-radius: 5px;
	z-index: 100;
	display: none;
}


#periodpicker ul, #daypicker ul, #trainpicker ul, #subject_panel ul{
	color: #404240;
	font-size: 13px;
	list-style: none;
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
}
#periodpicker li, #trainpicker li, #subject_panel ul{
	list-style: none;
	line-height: 2.5;
	text-shadow: 0 0 0;
}
#periodpicker input, label{
	vertical-align: middle;
}
#periodpicker .period{
	width: 20%;
	height: 20px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ACACAC;
}
#periodpicker.period_label{
	line-height: 1;
}
.btn_set_period, .btn_cancel_period{
	width: 45px;
	height: 25px;
	margin-top: 1%;
}
.period_comment{
	padding-left: 2%;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 4%, rgba(114,114,114,1) 17%, rgba(114,114,114,1) 30%, rgba(84,84,84,1) 55%, rgba(58,58,58,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(140,140,140,1)), color-stop(17%,rgba(114,114,114,1)), color-stop(30%,rgba(114,114,114,1)), color-stop(55%,rgba(84,84,84,1)), color-stop(89%,rgba(58,58,58,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* W3C */
	color: white;
}

#datepicker{
	position: absolute;
	z-index: 100;
	display: none;
}

.droppable_hover{
	background-color: yellow;
	opacity: 0.7;
	display: none;
}

/**** hourpicker ****/
#hourpicker, #daypicker, #trainpicker{
	width: 85%;
	height: 80px;
	margin: 0 auto;
	border: 1px solid #ACACAC;
	border-radius: 3px;
	box-shadow: 0px 2px 2px #ACACAC;
	display: none;
}
#hourpicker ul{
	list-style: none;
}
#hourpicker li{
	line-height: 2.5;
}
.hourpicker_comment, .trainpicker_comment{
	height: 30px;
	line-height: 2;
	padding-left: 10%;	
	margin-left: -11.5%;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 4%, rgba(114,114,114,1) 17%, rgba(114,114,114,1) 30%, rgba(84,84,84,1) 55%, rgba(58,58,58,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(140,140,140,1)), color-stop(17%,rgba(114,114,114,1)), color-stop(30%,rgba(114,114,114,1)), color-stop(55%,rgba(84,84,84,1)), color-stop(89%,rgba(58,58,58,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* W3C */
	color: white;
}
.daypicker_comment{
	width: 90%;
	height: 30px;
	line-height: 2;
	padding-left: 5%;	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 4%, rgba(114,114,114,1) 17%, rgba(114,114,114,1) 30%, rgba(84,84,84,1) 55%, rgba(58,58,58,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(140,140,140,1)), color-stop(17%,rgba(114,114,114,1)), color-stop(30%,rgba(114,114,114,1)), color-stop(55%,rgba(84,84,84,1)), color-stop(89%,rgba(58,58,58,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(140,140,140,1) 4%,rgba(114,114,114,1) 17%,rgba(114,114,114,1) 30%,rgba(84,84,84,1) 55%,rgba(58,58,58,1) 89%); /* W3C */
	color: white;	
}
.hours, .days{
	height: 20px;
	width: 70px;
	border-radius: 3px;
	vertical-align: middle;
}

.period_label{
	margin-top: 8px;
}
.set_days_btn, .days_set_cancel_button, .set_hour_btn, .hour_set_cancel_btn, .confirm_city{
	width: 45px;
	height: 30px;
	vertical-align: middle;
	background-color: #A1E8C4;
	border: 1px solid #ACACAC;
	border-radius: 3px;
	margin-right: 5px;
	font-size: 10pt;
	float: right;
}

.plan3_btn_area{
	position: absolute;
	bottom: 150px;
	right: 2%;
	width: 100%;
}

.plan_bar_wrapper{
	height: 78px;
	background-color: #C00000;
	border-top: 1px solid black;
}
.plan_bar{
	position: relative;
	height: 70px;
	box-shadow: inset 1px 1px 7px #111;
	background: rgb(214,219,216); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(214,219,216,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,219,216,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(214,219,216,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(214,219,216,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(214,219,216,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(214,219,216,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dbd8', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
	margin-top: 5px;
	float: left;
	z-index: 20;
}

/**** plan3.jade ****/
#sortable { 
	list-style-type: none; 
	padding: 0;
	top: 60px;
	width: 90%;
	height: 50%;
	margin-left: 5%;
	margin-right: 5%;
	display: inline-block;
}
#sortable li { 

}
#sortable li span { 
	position: absolute; 
	margin-left: -1.3em; 
}
.city_cnt{
	font-size: 9pt;
	margin: 0 3px 3px 3px; 
	height: 4%; 
	opacity: 0.8;
	color: black;
	text-shadow: 0 0 0;
}
.city_name{
	margin: 0 3px 3px 3px; 
	height: 25px; 
	opacity: 0.8;
	background-color: #F7CFCF;
	box-shadow: inset 1px 1px 3px #DFBBBB, 1px 1px 3px white;
	font-size: 14pt;
	padding: 1%;
	padding-top: 2%;
	border-radius: 5px;
	color: white;
	text-shadow: 0 0 0;
}
.city_name[cnt="1"]{
	background-color: #F7CFCF;
}
.city_name[cnt="2"]{
	background-color: #D29E9E;
}
.city_name[cnt="3"]{
	background-color: #C57F7F;
}
.city_name[cnt="4"]{
	background-color: #B55B5B;
}
.city_name[cnt="5"]{
	background-color: #F7CFCF;
}
.city_name[cnt="6"]{
	background-color: #F7CFCF;
}
.city_name[cnt="7"]{
	background-color: #F7CFCF;
}

/**** see.jade ****/
.see_city_name{
	color: white;
	text-shadow: 0 0 0;
	font-size: 14pt;
}