
.btn_save{

	width: 80px;
	height: 30px;
	background-color: yellow;
	float: right;
	margin-right: 15px;
	margin-top: 15px;

}

.content{
	position:relative; 
	top:0px; left:0px; 
	width:80%; height:0px; 
	padding-bottom:80%; 
	margin: 0 auto;
	overflow:auto;
	z-index: 0;
}
.map{
	position:absolute; 
	margin-left: 5%;
	width:80%; 
	height: 100%; 
	top:0px; 
	left:0px; 
	z-index:1;
}
#province_name{
	position:absolute; 
	width:50px; 
	height: 50px; 
	z-index:2;
}
// plan2.jade
p.city{
	position:absolute; 
	width:50px; 
	height: 50px; 
	top:20%; 
	left:60%; 
	z-index:2;
}
.city2{
	position:absolute;
	width:50px; height: 50px;
	z-index:1000;
}
.map_province{
	position:absolute; 
	width:80%; 
	height:80%; 
	top:0px; 
	left:0px; 
	z-index:0;
}

#datepicker{
	position: absolute;
	z-index: 100;
	display: none;
}

#plan_bar{
	height:80px; 
	background:gray; 
	border-top: thick black;
	overflow:auto;
}
.plan_bar_wrapper{
	height:57px;
}
div.plan_bar_wrapper span{
	position: relative;
	height:60px; float:left;
	display: inline;
	z-index: 20;
}