
.btn1,.btn2{
	width: 50px;
	height: 30px;
	font-size: 10px;
	font-weight: bold;
	color: #BCF1ED;
	background-color: #a1e8c4;
	font-size: 11px;
	border: 1px solid black;
	float: right;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: #3A3C3C;
}


.map_wrapper{
	width: 100%;
	max-height: 700px;
	overflow-y: auto;
	display: table;
}

.map{
	width: 70%;
	text-align:center; 
	vertical-align:middle;
	display: table-cell; 
}
#province_name{
	position:absolute; 
	width:50px; 
	height: 50px; 
	z-index:2;
}


p.city{
	position:absolute; 
	width:50px; 
	height: 50px; 
	top:20%; 
	left:60%; 
	z-index:2;
}
.city2{
	position:absolute;
	width:50px; height: 50px;
	z-index:50;
	display: none;
}
.map_province{
	position:absolute; 
	width:80%; 
	height:80%; 
	top:0px; 
	left:0px; 
	margin-left: 10%;
	z-index:0;
}

#periodpicker{
	position: absolute;
	width: 100%;
	height: 100px;
	top: 60px;
	font-size: 9pt;
	border-top: 1px solid white;
	background: rgb(161,232,196); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(161,232,196,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(161,232,196,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(161,232,196,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(161,232,196,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(161,232,196,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(161,232,196,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1e8c4', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */	box-shadow: 1px 1px 10px #122;
	z-index: 100;
	display: none;
}
#periodpicker ul{
	color: #404240;
	font-size: 13px;
	list-style: none;
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
}
#periodpicker li{
	line-height: 2.5;
}
#periodpicker input, label{
	vertical-align: middle;
	font-size: 11pt;
}
#periodpicker .period{
	width: 40px;
	height: 13px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
}
#periodpicker.period_label{
	line-height: 1;
}
.btn_set_period, .btn_cancel_period{
	font-size: 10pt;
	color: #BCF1ED;
	font-weight: bold;
	background-color: #3A3C3C;
	border-color: black;
	border-width: 1px;
	box-shadow: inset 1px 1px 10px #818;
}

#datepicker{
	position: absolute;
	z-index: 100;
	display: none;
}

.droppable_hover{
	background-color: yellow;
	opacity: 0.7;
	display: none;
}

.plan3_btn_area{
	position: absolute;
	margin-top: -30px;
	padding-right: 10px;
	bottom: 130px;
	right: 5px;
}

.plan_bar_wrapper{
	height:80px;
}
.plan_bar{
	position: relative;
	height:60px;
	background: rgb(214,219,216); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(214,219,216,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,219,216,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(214,219,216,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(214,219,216,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(214,219,216,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(214,219,216,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dbd8', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	z-index: 20;
}