div .s1{
	position: absolute;
	right: 50px;
	top: 80px;
	font-size: 35px;
	color: #EFD351;
}
div .s2{
	position: absolute;
	right: 80px;
	top: 200px;
	font-size: 20px;
	color: #D8F5CF;
}
div .s3{
	position: absolute;
	right: 80px;
	top: 150px;
	font-size: 30px;
	color: #EDBFC0;
}
div .s4{
	position: absolute;
	right: 220px;
	top: 50px;
	font-size: 20px;
	color: yellow;
}
div .s5{
	position: absolute;
	right: 230px;
	top: 130px;
	font-size: 17px;
	color: #A78132;
}
div .s6{
	position: absolute;
	right: 250px;
	top: 250px;
	font-size: 15px;
	color: #2ECCFF;
}
div .s7{
	position: absolute;
	right: 200px;
	top: 300px;
	font-size: 13px;
	color: #DB2ED4;
}
div .s8{
	position: absolute;
	right: 20px;
	top: 160px;
	font-size: 15px;
	color: #DB2ED4;
}
div .s9{
	position: absolute;
	right: 50px;
	top: 300px;
	font-size: 20px;
	color: #DB2ED4;
}
div .s10{
	position: absolute;
	right: 80px;
	top: 230px;
	font-size: 25px;
	color: #DB2ED4;
}
