.slide {
	width:100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	display:none;
}

.current {
	display: block;
}

.slide > img {
	width: 280px;
	height: 380px;
	z-index: 2;
}

.slide > a {
	position: absolute;
	font-size: 15pt;
}

.slide-out{
	-webkit-animation: slideOut;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes slideOut{
	from{
		-webkit-transform: translateX(0%);
		z-index: 2;
	}
	to{
		-webkit-transform: translateX(-100%);
	}
}

.slide-in {
	-webkit-animation: slideIn;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes slideIn{
	from{
		-webkit-transform: translateX(100%);
		z-index: 1;
	}
	to{
		-webkit-transform: translateX(0%);
	}
}

