.background1{
	background: rgb(255,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(231,234,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,252,252,1)), color-stop(100%,rgba(231,234,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,252,252,1) 0%,rgba(231,234,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,252,252,1) 0%,rgba(231,234,227,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,252,252,1) 0%,rgba(231,234,227,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,252,252,1) 0%,rgba(231,234,227,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#e7eae3',GradientType=0 ); /* IE6-9 */
}

.background_theme_pink{
	background: rgb(252,250,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,250,242,1) 0%, rgba(252,162,167,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,250,242,1)), color-stop(100%,rgba(252,162,167,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,250,242,1) 0%,rgba(252,162,167,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,250,242,1) 0%,rgba(252,162,167,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,250,242,1) 0%,rgba(252,162,167,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(252,250,242,1) 0%,rgba(252,162,167,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfaf2', endColorstr='#fca2a7',GradientType=0 ); /* IE6-9 */
}

.background_theme_gray{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

.box1{
	border: 1px solid black;
	background: rgb(252,250,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,250,242,1) 0%, rgba(249,237,177,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,250,242,1)), color-stop(100%,rgba(249,237,177,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,250,242,1) 0%,rgba(249,237,177,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,250,242,1) 0%,rgba(249,237,177,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,250,242,1) 0%,rgba(249,237,177,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(252,250,242,1) 0%,rgba(249,237,177,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfaf2', endColorstr='#f9edb1',GradientType=0 ); /* IE6-9 */
}

.text1{
	color: #DFDCDC;
	font-size: 11pt;
	border: 1px solid black;
	border-radius: 3px;
	background-color: #F8F8F8;
}

.btn1,.btn2{
	float: right;
	margin-right: 1%;
	margin-bottom: 15px;
	font-size: 9pt;
	color: white;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: inset 1px 1px 1px #3A3C3C;
	background: rgb(240,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(240,0,0,1) 0%, rgba(188,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,0,0,1)), color-stop(100%,rgba(188,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(240,0,0,1) 0%,rgba(188,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(240,0,0,1) 0%,rgba(188,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(240,0,0,1) 0%,rgba(188,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(240,0,0,1) 0%,rgba(188,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f00000', endColorstr='#bc0000',GradientType=0 ); /* IE6-9 */
}

.btn2{
	font-size: 11pt;
	color: #3A3C3C;
	background-color: #FEEB84;
	border: 1px solid #3A3C3C;
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px gray;
}
.btn3{
	font-size: 11pt;
	color: #3A3C3C;
	background-color: #fca2a7;
	border: 1px solid #3A3C3C;
	border-radius: 3px;
}