!!! 5
html
	head
		script(src="/lib/jquery/jquery-1.8.3.js")	
		script(src="/javascripts/search/tag.js")	
	body
		table
			tr
				td
					| 도시 데이터베이스 값 입력
				td
					input(type='button', id='city_btn', name ='city_btn', value='city')
			tr
				td
					| city_name
				td
					input.city_form(type = 'text', id='city_name', name='city_name', value='서울')
			tr
				td
					| do_name
				td
					input.city_form(type = 'text', id='do_name', name='do_name', value='경기도')
			tr
				td
					| city_extra
				td
					input.city_form(type = 'text', id='city_extra', name='city_extra', value='클럽, 카페, 맛집')
						

		table
			tr
				td
					| 역 데이터베이스 값 입력
				td
					input(type='button', id='station_btn', name ='station_btn', value='station')
			tr
				td
					| station_name
				td
					input.station_form(type = 'text', id='station_name', name='station_name', value='청량리역')
			tr
				td
					| station_phone
				td
					input.station_form(type = 'text', id='station_phone', name='station_phone', value='02-000-0000')
			tr
				td
					| station_homepage
				td
					input.station_form(type = 'text', id='station_homepage', name='station_homepage', value='http://localhost:3000/')
			tr
				td
					| city_name
				td
					input.station_form(type = 'text', id='city_name', name='city_name', value='서울')



		table
			tr
				td
					| 관광지 데이터베이스 입력
				td
					input(type='button', id='sights_btn', name ='sights_btn', value='sights')
			tr
				td
					| sights_name
				td
					input.sights_form(type = 'text', id='sights_name', name='sights_name', value='삼청동 카페골목')
			tr
				td
					| city_name
				td
					input.sights_form(type = 'text', id='city_name', name='city_name', value='서울')
			tr
				td
					| sights_extra
				td
					input.sights_form(type = 'text', id='sights_extra', name='sights_extra', value='에스프레소, 떡볶이')

			