div#daypicker
	ul(style="margin-top:0px; padding-left:0px")
		li.daypicker_comment(style="line-height:2") 몇 일 째 일정인지 정해주세요
		li(style="margin-left: 7%")
			input.days(type="number", min=1, max=7)
			label.period_label 일 째
		li(style="margin-left: 7%")
			input.set_days_btn(type="button", value="확인")
			input.days_set_cancel_button(type="button", value="취소")