div#hourpicker(style="display:none;")
	ul(style="margin-top:0px; padding-left:0px")
		li 몇 시간을 머물지 선택하세요.
		li(style="margin-left: 7%")
			input.hours(type="number") 
			label.period_label 시간
			input.set_hour_btn(type="button", value="확인")
			input.hour_set_cancel_btn(type="button", value="취소")