div#hourpicker
	ul(style="margin-top:0px; padding-left:0px")
		li.hourpicker_comment(style="line-height:2") 몇 시간을 머물지 선택하세요.
		li(style="margin-left: 7%; margin-top:10px;")
			input.hours(type="number", min=1, max=24) 
			label.period_label 시간
			input.hour_set_cancel_btn(type="button", value="취소")
			input.set_hour_btn(type="button", value="확인")
			input.hour_delete(type="button", value="삭제")