ul.popup_othermenu
		li 
			p
				img(src="/images/icon_folder.png")
			p 불러오기
		li 
			p
				img(src="/images/icon_notice.png")
			p 공지사항
		li 
			p 
				img(src="/images/btn_plan.png")
			p Tip
		li 
			p
				img(src="/images/icon_question.png")
			p 도움말
		li 
			p 
				img(src="/images/icon_setting.png")
			p 설정
	ul.popup_beongae
		li 번개방 생성하기
		li 나의 번개 활동내역
		li 다른 번개 검색하기