ul.popup_othermenu
		li
			p
				img#call.othermenu(src="/images/icon_folder.png")
			p 불러오기
		li
			p
				img#notice.othermenu(src="/images/icon_notice.png")
			p 공지사항
		li
			p
				img#question.othermenu(src="/images/icon_question.png")
			p 도움말
		li
			p 
				img#setting.othermenu(src="/images/icon_setting.png")
			p 설정