div#subject_panel.background1(style="display:none;")
	ul(style="margin-top:0px")
		li.trainpicker_comment(style="line-height:2") 제목을 입력해주세요.
		li(style="margin-top:10px;")
			input.plan_subject(type="text")
			input.confirm_plan.btn1(type="button", value="확인")
			