div#trainpicker
	ul(style="margin-top:0px")
		li.daypicker_comment(style="line-height:2") 내일로 출발 도시 입력해주세요.
		li(style="margin-top:10px;")
			input.dept_city(type="text")
			input.confirm_city(type="button", value="확인")
			