include ../top.jade
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
				include ../search.jade	
		div(class="header")
			h2(align='right',style='padding-right:5px') 공지사항
			hr
			br
		div(class="section")
			div(style='margin-bottom:40px')
				span(style='margin-left:15px;')
					span
						font(size='3')내용ㅎ
					hr(style='margin-left:8px; margin-right:8px')

include ../bottom.jade