include ../top.jade
		div(class="css3droppanel")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle")
			div(class="content")
					include ../search.jade
		include ../widget/popup_menu.jade
		div#header
			p.menu_name 설정
			hr
			br
		div(class="section")
			div(style='margin-bottom:40px; margin-top:20px')
				span(style='margin-left:15px;')
					span
						font(size='3')기본정보
					hr(style='margin-left:8px; margin-right:8px')
				span(style='margin-left:15px;')
					span(style='margin-left:65px')
						font(size='3')버전정보
						span(style='float:right; font-size:small; margin:0 15px 0') 1.1.1
					hr(style='margin-left:8px; margin-right:8px')
				span(style='margin-left:15px;')
					span
						font(size='3')알림설정
					hr(style='margin-left:8px; margin-right:8px')
				span(style='margin-left:15px;')
					span(style='margin-left:65px')
						font(size='3')커뮤니티 소식 알림
						input(type='checkbox', style='float:right; margin:0 15px 0; width:18px; height:18px')
					hr(style='margin-left:8px; margin-right:8px')
				span(style='margin-left:15px;')
					span(style='margin-left:65px')
						font(size='3')기차시간 소식 알림
						span(style='float:right; font-size:small; margin-right:15px') 30분전
					hr(style='margin-left:8px; margin-right:8px')
				span(style='margin-left:15px;')
					span
						font(size='3')만든 사람들
					hr(style='margin-left:8px; margin-right:8px')
include ../bottom.jade