include ../top.jade
		script(type="text/javascript", src="/javascripts/map/map.js")	
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
					include ../search.jade	
		include ../widget/popup_menu.jade
		div#header
			p.menu_name Map
		div#map(style="border:1px;")
		
		input.btn1(type="button",value="선택 계속", name="insert",style="font-size: 7pt")

		table					
			tr
				td
					| 주소
				td
					input(type="text", name="adr", id="adr", value="경기도성남시정자1동25-1")
			tr
				td
					input(type='button', name='btn123', id='btn123', value='좌표로 변환')
		