!!! 5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		script(type="text/javascript", src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=d6ebc311beeac40f91914fb491c7cb95")
	body
		div#map(style="border:1px;")
		script(type="text/javascript", src="/javascripts/map/map.js")	
		
		form(method="post", action="/map/map_result")
		table
			tr
				td
					| 출발지
				td 
					input(type="text", name="start_dest", value="출발지를 입력하세요")
			tr
				td
					| 도착지
				td
					input(type="text", name="fini_dest", value="도착지를 입력하세요")
			tr
				td
					| 길찾기
				td
					input(type='submit', value='Submit')
		