include ../frame/top.jade
		script(type="text/javascript", src="/javascripts/train/get_time_table.js")
		div
			input.dept_station(type='text',style='width:40px;', name='event_month')
			input.arrv_station(type='text',style='width:40px;', name='event_month')
			input.time_table_search(type="button", value="찾기")
include ../frame/bottom.jade