html
	head
		title hi
		script(src='/lib/jquery/jquery-1.8.3.min.js');
		script

	body

		div
			input.station(type='text',style='width:40px;', name='station_1')
			input.station(type='text',style='width:40px;', name='station_2')
			input.time_table_search(type="button", value="찾기")