!!! 5
html
	head
		script(type="text/javascript", charset="UTF-8", src="http://static.plugin.me2day.com/js/plugins_v1.js")
		script(src="lib/jquery/jquery-1.8.3.js")
		meta(http-equiv="Content-Type", content="text/html; charset='UTF-8'")		

	
	body		
		me2:metoo(layout="standard", profile_images="off", color="dark", pingback="unchecked", href="http://localhost:3000", plugin_key="WLG2TWefSDeMJqUb3tAfjg")	