!!! 5
html
	head
		script(src="lib/jquery/jquery-1.8.3.js")
		meta(http-equiv="Content-Type", content="text/html; charset='UTF-8'")			
		script(type="text/javascript", src="/javascripts/share/share.js")			
	body		
		table
			tr
				td
					| me2day share
				td
					input(type='text', name='text_share', id='text_share', value='HaHa')
			tr
				td
					| btn
				td
					input(type='button', name='btn_share', id='btn_share', value='Share')
					
			tr
				td
					| facebook share
				td
					input(type='text', name='fb_text_share', id='fb_text_share', value='facebook')
			tr
				td
					| btn
				td
					input(type='button', name='fb_btn_share', id='fb_btn_share', value='Facebook Share')
			tr
				td
					| kakaotalk share
				td
					input(type='text', name='kakao_text_share', id='kakao_text_share', value='kakaotalk')
			tr
				td
					| btn
				td
					input(type='button', name='kakao_btn_share', id='kakao_btn_share', value='Kakaotalk Share')
					