!!! 5
html
	head
		script(type="text/javascript", charset="UTF-8", src="http://static.plugin.me2day.com/js/plugins_v1.js")
		meta(property="me2:post_body", content="")
		meta(property="me2:post_tag", content="")
		meta(property="me2:image", content="")		
	
	body		
		me2:metoo(layout="standard", profile_images="off", color="dark", pingback="unchecked", href="http://127.0.0.1:3000", plugin_key="WLG2TWefSDeMJqUb3tAfjg")	