script(src="/javascripts/search/tag.js")	
script(src="/javascripts/search/search.js")	

div(style="background:#D8D8D8; margin:0; height:30px; padding:5px")
	span(style="vertical-align:bottom")
		input.search_text(type="text",style="width:230px; height:20px; line-height:2",id="searchbar")
		input.search_btn(type="image",style="border:thin gray solid; height:23px;",src="/images/icon_search.png")
		| Search folder
	div(id="wrapper")