include ../top.jade
			div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
					include ../search.jade
			div(class="header")
				h2(align='right',style='padding-right:5px') my > 즐겨찾기
				hr
				br
			div(class="section")
				div(id="wrapper2")
					div 해운대
					div 단풍
					div 일몰
					div 경주
					div 다보탑
					div 강릉
include ../bottom.jade