include ../top.jade
		script(src="/javascripts/member/join.js")
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
					include ../search.jade	
		div(class="header",style="margin-top:-40px")
			h2(align='right',style='padding-right:5px') MyPage
			hr
			h5(align='center') If u want to join us.... :)
	
		div(class="section")
			table(style='margin-left:20px;')
				tr		
					td(valign='top',width='120px') 아이디
					td(width='200px')
						span(style='margin-right:20px')
							input.input_form(type='text', name='id', style='width:130px;')
				tr		
					td(valign='top',width='120px') 비밀번호
					td(width='200px')
						span(style='margin-right:20px')
							input.input_form(type='password', name='pw', style='width:130px;')
				tr		
					td(valign='top',width='120px') 비밀번호 확인
					td(width='200px')
						span(style='margin-right:20px')
							input.input_form(type='password', name='pw2', style='width:130px;')
				tr		
					td(valign='top',width='120px') 닉네임
					td(width='200px')
						span(style='margin-right:20px')
							input.input_form(type='text', name='nick_name', style='width:130px;')							
				tr		
					td(valign='top',width='120px') 성별
					td(width='200px')
						span(style='margin-right:20px')
							input.input_form(name='sex', type='radio', value='male', style='width:10px;')
							| 남자							
							input.input_form(name='sex', type='radio', value='female', style='width:10px;')
							| 여자						
				tr
					td
					td
						input#submit_btn.btn2(type='button', value='Submit',style="width:80px; margin-left:50px")
			
				
include ../bottom.jade