include ../top.jade
		script(src="/javascripts/member/join.js")
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
					include ../search.jade	
		div#header
			p.menu_name MyPage
		div.section.box1
			table.tbl_join.box1
				tr		
					td 아이디
					td
						span(style='margin-right:20px')
							input.text_join.text1(type='text', name='id')
				tr		
					td 비밀번호
					td
						span(style='margin-right:20px')
							input.text_join.text1(type='password', name='pw')
				tr		
					td 비밀번호 확인
					td(width='200px')
						span(style='margin-right:20px')
							input.text_join.text1(type='password', name='pw2')
				tr		
					td 닉네임
					td
						span(style='margin-right:20px')
							input.text_join.text1(type='text', name='name')							
				tr		
					td 성별
					td
						span(style='margin-right:20px')
							input.input_form(name='sex', type='radio', value='male', style='width:10px;')
							| 남자							
							input.input_form(name='sex', type='radio', value='female', style='width:10px;')
							| 여자						
				tr
					td
					td
						input#submit_btn.btn2(type='button', value='Submit')
			
				
include ../bottom.jade