include ../top.jade
		script(src="/javascripts/member/login.js")
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
					include ../search.jade	
		div#header
			p.menu_name MyPage
		div.section
			div.login_box.box1
				p.login
					input.text_login.input_form(type='text', value='아이디', id='id', name='id')
					input#login_btn(type="button", value="로그인")
				p
					input.text_login.input_form(type='password', value='패스워드', id='pw', name='pw')
			input#btn_signup.btn_signup(type="button", value="회원가입")
					

include ../bottom.jade