include ../top.jade
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
					include ../search.jade	
		div(class="header")
			h2(align='right',style='padding-right:5px') MyPage
			hr
			br
		div(class="section")
			table(align='center',style='margin-left:8px')
				tr		
					td(valign='top',width='100px') 아이디
					td(width='200px')
						span(style='margin-right:20px')
							input(type='text',style='width:100px;')
				tr		
					td(valign='top',width='100px') 비밀번호
					td(width='200px')
						span(style='margin-right:20px')
							input(name='pw', type='password',style='width:100px;')

			form(align='right')
				input(type='submit',value='작성',style='margin:0 20px; width:50px; height:30px')
				
include ../bottom.jade