include ../top.jade
		script(type="text/javascript", src="/javascripts/mypage/my_community.js")
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
				include ../search.jade	
		div#header
			h3(align='right',style='padding-right:5px') My > 나의 커뮤니티 활동 내역
			hr
			br
		div(class="section")
			div(id="pre_set",style='display:none')
				span.my_bun_show(style='margin-left:15px; font-size:3')
				hr(style='margin-left:8px; margin-right:8px')
			div(id="field")
	
include ../bottom.jade