include ../top.jade
		script(type="text/javascript", src="/javascripts/mypage/mypage.js")
		div(class="css3droppanel",align="center")
			input(type="checkbox", id="paneltoggle")
			label(for="paneltoggle",id="searchdrawer")
			div(id="searchbrowser")
					include ../search.jade	
		include ../widget/popup_menu.jade	
		div#header
			p.menu_name MyPage
		div.section
			div.mypage_header(align="center")
				label(style='margin-right:8px') 닉네임
				div#nickname.text1
				input.btn_logout.btn1(type="button", value="로그아웃")
			ul.ul_mypage
				li
					a(href='/mypage/bookmark', rel='external')나의 즐겨찾기
				li
					a(href='/mypage/my_nailo',rel='external')나의 내일로		
				li		
					a(href='/mypage/my_community',rel='external')나의 커뮤니티 활동 내역
				li
					a(href='/mypage/share',rel='external')공유하기
include ../bottom.jade