include ../top.jade
			div(class="css3droppanel",align="center")
				input(type="checkbox", id="paneltoggle")
				label(for="paneltoggle",id="searchdrawer")
				div(id="searchbrowser")
					include ../search.jade	
			div(class="header")
				h2(align='right',style='padding-right:5px') My > 공유하기
				hr
				br
			div(class="section",align='center')
				select(width='300px',style='text-align:center; padding:3px;')
					option 2011년 9월의 늦여름
				table(width='200px',cellpadding="0",cellspacing="0", height='200px',align='center',style='margin-top:10px; margin-bottom:40px')
					tr
						td(align='center',padding="0")
							input(type='image',src='/images/icon_kakao.png',width='80px')
							br
							font(size='2')카카오톡
						td(align='center')
							input(type='image',src='/images/icon_me2day.png',width='80px')
							br
							font(size='2')미투데이
						td(align='center')
							input(type='image',src='/images/icon_cyworld.png',width='80px')
							br
							font(size='2')싸이월드
					tr
						td(align='center')
							input(type='image',src='/images/icon_facebook.png',width='80px')
							br
							font(size='2')페이스북
						td(align='center')
							input(type='image',src='/images/icon_googleplus.png',width='80px')
							br
							font(size='2')구글플러스
						td(align='center')
							input(type='image',src='/images/icon_twitter.png',width='80px')
							br
							font(size='2')트위터
include ../bottom.jade